[2020-07-22 13:21] jkhartshorne opened #1 "Survey: Wording of stress question makes no sense"
Please update the survey questions. Obviously, getting "worried about everything else" as a standalone question makes no sense.

Please either:

- Make the three questions about stress should all be a single question.
or
- Change the worried to say "except for" and list the other categories.

![Screen Shot 2020-07-22 at 9 10 48 AM](https://user-images.githubusercontent.com/6118115/88181167-7434408

[2020-07-22 13:23] jkhartshorne opened #2 "Clips still getting stuck in processing"
Clips get stuck in "still processing" and never come out.

**Device**:  That was on Chrome 83.0, Samsung Galaxy S20+ 5G

![Screen Shot 2020-07-17 at 10 48 49 AM](https://user-images.githubusercontent.com/6118115/88181461-de4ce580-cbfc-11ea-9de5-363e771cfd54.png)
![Screen Shot 2020-06-24 at 1 10 04 PM](https://user-images.githubusercontent.com/6118115/88181496-ee64c500-cbfc-11ea-995e-445ceaca4c7d.p

[2020-07-22 13:25] jkhartshorne opened #3 "Saving recordings doesn’t always work"
Pressing ‘save clip’ during initial playback will sometimes result in getting stuck. The upload indicator sticks at 100%, but nothing is saved. Note that starting a new recording doesn’t reset the ‘save clip’ button. It’ll be stuck showing ‘100%’ and being nonfunctional until you refresh the browser.

**Observed Devices**
Chrome/Galaxy
Samsung Internet / Galaxy
7/16 Chrome/MacBook Air
7/17 Chrome

[2020-07-23 19:58] parkerrobbins opened #4 "[Start a Conversation] Repeating images"
### Date
2020-07-23

### Browser / OS / device (including version numbers)
Google Chrome Version 84.0.4147.89 (Official Build) (64-bit), Ubuntu 18.04.4 LTS, Dell Latitude E7450

### What did you do?
Refreshed the **Start a Conversation** feature 10 times.

### What did you expect to happen?
I expected to see different images each time.

### What did happen?
Image 2 and 4 out of the series were the

[2020-07-23 20:27] jmnolasco opened #5 "Say What Clip Not Playing Completely"
I'm not sure if this has to do with the fact that it was an audio clip extracted from a video, but when I was testing out Say What, a clip I had uploaded was not playing entirely. When I tried to pause it and replay, it went to a new clip.

Sometimes there are also lags for clips to play (e.g. I had to pause it and replay for it to start)
Tested on: iPhone XR, Safari browser

[2020-07-23 20:29] jmnolasco commented on #2
I noticed this today too! However, it did let me delete them if I click on the pencil icon. -iPhone XR, Safari browser

[2020-07-24 13:17] lorenachipstudio commented on #4
@jkhartshorne

Hi Josh,

The team looked through this and found no bugs.

We're not sure if the user is aware that the images seen in that section are randomly selected from a pool of about 50 images. If you refresh enough times you should expect to see the same image twice on occasion. It is intended to work this way.

It sounds like they are assuming that you will only ever see images you've nev

[2020-07-24 16:23] #4 closed

[2020-07-24 16:24] jkhartshorne commented on #2
@jmnolasco - yes, I can delete them. But it's pretty frustrating to have just recorded something good with my distractible daughter to only have to end up deleting it.

[2020-07-25 03:36] ythuang123 opened #6 "Share invitation doesn't send email"
I made up a person to share my account with and sent the invite to another one of my email addresses. I'm not sure how long it takes for the invitation to show up to the other person's inbox (in this case mine). I've been waiting for about 30 minutes. I've checked that it's not in my spam folder.

Browser / Chrome

OS / Window 10 Enterprise v. 1909 (OS build 18563.959)

device / ThinkPad X1 Carbon

[2020-07-25 12:39] jkhartshorne commented on #6
Which site were you using? kidtalk.app or staging.kidtalk.app?

On Fri, Jul 24, 2020 at 11:36 PM ythuang123 <notifications@github.com>
wrote:

[2020-07-27 01:25] ythuang123 commented on #6
staging.kidtalk.app -- I created a totally new/fake account following Alex's directions. He had wrote down to check whether the invite sent, and I haven't gotten anything after a couple days. I know that for the real site, I had checked and verified that the invites sent to my relatives, but that was right when we launched.

[2020-07-27 01:30] lorenachipstudio commented on #6
@jkhartshorne @ythuang123 - We'll get this checked out in the morning and will provide updates on here.

Thank you!
Lorena

[2020-07-28 03:00] lorenachipstudio commented on #6
@jkhartshorne @ythuang123 The invite was not sending because it wasn't set up to send on staging. We went ahead and turned it on so you should be able to test email invites on staging now.

[2020-07-28 13:28] ythuang123 commented on #6
Got it -- I'm confirming that it works now. I got an email invitation (in <5 minutes).

[2020-07-31 13:22] jmnolasco opened #7 "Say What Audio Clips Stop Playing"
After about 5 clips, it doesn't refresh with new audio clips to transcribe.

It'll repeat the last one presented, and then gets stuck from there.

Seen on iPhone XR, Safari browser.

[2020-07-31 15:51] lorenachipstudio commented on #7
@jmnolasco thanks- we'll take a look at this and get back to you with updates.

Lorena

[2020-07-31 15:56] ichimura-a opened #8 "Start a Conversation: Waveform doesn't appear"
7/31/2020
iPhone 7 / Safari / iOS 13.5.1
While recording a clip for "Start a Conversation", no orange bars for the waveform appeared. Then, the waveform did not appear when playing the clip.
I expected the waveforms to appear to be able to visualize the clip.

![IMG_6857](https://user-images.githubusercontent.com/68654587/89053225-e86d9300-d324-11ea-9df2-1d6807cd55f9.PNG)
![IMG_6858](https://user-

[2020-07-31 16:48] ichimura-a opened #9 "Say What: Audio doesn't stop playing"
iPhone 7 / Safari / iOS 13.5.1
The audio clip plays and then goes silent, yet the pause button remains and never turns into a play button. A transcription can be entered but can't be submitted. The next "Say What?" clip can't be played.

[2020-08-02 19:52] koppen152 opened #10 "Say What Audio clips are just noise"
I didn’t get any words in Say What? I just got clips of noise, silence, or a click. The “correct” transcriptions were either “click” or “do do do do”

I was expecting to hear clips of kids talking.

IPhone 7, safari 13.6

[2020-08-02 19:56] koppen152 opened #11 "Cursor displays incorrect time"
When I playback a recording and then crop the recording, the time label on the cursor is incorrect. Every thing else functioned fine; I was able to save, Crop, transcribe, and save recordings without issues.

iPhone 7, safari 13.6

![2D03D4EA-0F79-4C75-9F06-1D915AB17CF8](https://user-images.githubusercontent.com/54418192/89131154-a84f1180-d4d8-11ea-8a96-38529c42f212.png)
![DC4B264C-4226-44FC-A42A-

[2020-08-02 20:44] koppen152 commented on #9
This just happened to me on iPhone 7 / Safari / iOS 13.6

[2020-08-02 20:46] koppen152 opened #12 "scrapbook clips keep playing when I leave the scrapbook"
I played a clip from my scrapbook and then navigated out of the scrapbook to "Say What?" without stopping the clip. The clip kept playing while I played "Say What?" I was expecting the clips to stop playing automatically when I left the scrapbook.

iPhone 7 /Safari / iOS 13.6

[2020-08-02 20:54] koppen152 opened #13 "icons don't work"
after I make a recording, I can type in the "icon" box but no icon choices appear. Words and emojis I enter in the box are not saved. This happened on my iphone (iPhone 7, Safari, iOS 13.6)

This was not an issue from my laptop (Windows 10, Chrome 83)

[2020-08-02 20:57] koppen152 commented on #9
just encountered this on Windows 10/laptop/Chrome 83

maybe worth noting that my laptop is terrible and really slow at everything.

[2020-08-02 21:02] koppen152 opened #14 "confusing error message - string_no_spaces"
When I enter a nickname that contains a space in "my family," I get the error message "String.no_spaces contains spaces."

Is it possible to change this to something more user-friendly, like "Please enter a nickname with no spaces"

This occurs on all my devices (iPad 7, Iphone 7/Safari 13.6, Windows Chrome 83)

[2020-08-02 21:13] koppen152 opened #15 "Display dropdown menu in scrapbook does not always work"
In the scrapbook, I went to the display menu and clicked "grandpa's Recordings" under "Tagged adults." I was expecting my scrapbook to update and only display the one recording that grandpa was tagged in. Instead, nothing happened (all recordings remained visible). I refreshed and tried again, same problem. I was able to sort by other tagged users, just not this particular user.

Also, I (account

[2020-08-02 21:15] koppen152 opened #16 "avatar does not display in scrapbook"
I went to "Settings" to add an avatar for myself. When I tag myself in recordings, my avatar does not appear in my recordings, it's still the circle that says "me." The avatars for my family members appear in the appropriate recordings in the scrapbook.

iPhone 7 / Safari / iOS 13.6
Windows 10 / Laptop / Chrome 83

[2020-08-02 21:19] koppen152 opened #17 "nothing happens when I search in the scrapbook"
When I type a word in the search bar in my scrapbook and click "Search," I expect the scrapbook to show only the clips/conversations that contain that word in the comment/transcription. Instead, nothing happens when I click "Search" and I continue to see all the clips/conversations. I confirmed that the word I was searching for did appear in the transcription of at least one clip.

[2020-08-03 14:15] ythuang123 commented on #2
This was an issue for me too. First time I've encountered it, I was using the regular KidTalk app (kidtalk.app) on my iPhone SE (version iOS 13.5.1) on Safari (latest?). Here are the pictures. It wasn't a particularly long recording (a couple minutes). I got the "uploaded complete" message but when the I went to the scrapbook, the tile was grayed out.

![2020-08-01_20-50-16_000](https://user-image

[2020-08-03 17:59] ichimura-a opened #18 "Version 8.2 appears twice under "Version History""
Not a bug per se, but Version 8.2 appears twice under different descriptions.
MacBook Air / Chrome Version 84.0.4147.105 / macOS Catalina Version 10.15.6

<img width="596" alt="Screen Shot 2020-08-03 at 1 54 15 PM" src="https://user-images.githubusercontent.com/68654587/89212189-0b9c7a80-d591-11ea-92ad-051a9c04ac8d.png">

[2020-08-03 20:58] lorenachipstudio commented on #8
@ichimura-a Thanks for reporting- the team will take a look at it. Will follow up with updates.

Lorena

[2020-08-03 20:59] lorenachipstudio commented on #9
@koppen152 @koppen152 Thank you for reporting this issue- we'll take a look and provide an update shortly.

Lorena

[2020-08-03 21:01] lorenachipstudio commented on #11
@koppen152 Thank you for reporting this-- we'll take a look and provide an update shortly.

[2020-08-03 21:02] lorenachipstudio commented on #12
@koppen152 We'll take a look and provide an update

[2020-08-03 21:02] ichimura-a commented on #15
Also happened to me.
MacBook Air / Chrome Version 84.0.4147.105 / macOS Catalina Version 10.15.6

- After (un)checking "Only Clips With No Label", nothing changed.
- The search bar was not functioning
- none of the "Tagged Adults" are filtered as well

[2020-08-03 21:02] lorenachipstudio commented on #13
@koppen152 we'll take a look and provide an update

[2020-08-03 21:04] lorenachipstudio commented on #15
Thanks for reporting this- we'll take a look!

Lorena

[2020-08-03 21:13] ichimura-a opened #19 "Conversations in Scrapbook can't be edited"
The details for conversations cannot be edited as there is no pencil symbol.

MacBook Air / Chrome Version 84.0.4147.105 / macOS Catalina Version 10.15.6
![image](https://user-images.githubusercontent.com/68654587/89227875-78713e00-d5ac-11ea-99b5-9ece5f0e37d2.png)

[2020-08-04 13:59] ythuang123 commented on #17
I replicate this bug too. I'm searching based on text I entered in the description box, but nothing pulls up.

Browser / Chrome

OS / Window 10 Enterprise v. 1909 (OS build 18563.959)

device / ThinkPad X1 Carbon 4G

[2020-08-04 14:02] ythuang123 commented on #9
I've encountered this bug too.

Browser / Chrome

OS / Window 10 Enterprise v. 1909 (OS build 18563.959)

device / ThinkPad X1 Carbon 4G

[2020-08-04 14:09] ythuang123 opened #20 "Misspelling on invite email"
This is minor, but the invitation email has a misspelling (on "address").

You have recently been invited to KidTalk! You can sign up for an account with this email addres

Chrome, Window 10 Enterprise v. 1909 (OS build 18563.959), ThinkPad X1 Carbon 4G

[2020-08-04 14:17] ythuang123 commented on #6
Coming back to this --> The invite email sends a link to https://kidtalk.app, not staging.kidtalk.app, so it's not easy to check whether the recording that I made on staging.kidtalk.app are shared properly (I need to go to the site directly, then get the staging cite to generate a separate link).

Chrome / Window 10 Enterprise v. 1909 (OS build 18563.959) / ThinkPad X1 Carbon 4G

[2020-08-04 14:37] ythuang123 opened #21 "Can't get rid of question marks"
The old tiles show up with question marks. When I click to edit them, I can add a label, which shows up under the question mark. I thought the question marks were placeholders to get folks to add text but maybe I'm wrong? How are we supposed to get rid of the questions marks?

![image](https://user-images.githubusercontent.com/68764650/89306757-4c060200-d63e-11ea-8dc2-7458892bae08.png)

Chrome, Wi

[2020-08-04 17:37] Abbyrosler commented on #10
This happened to me too on Macbook Pro (version 10.13.6); macOS: High Sierra; Chrome 83

When I click play button, I hear no speech (sounds something like a muffled drum). The "correct" transcriptions were either "coffee", "light", or "" (nothing in the quotations). After a couple tries, the "submit guess" button does not work.

[2020-08-04 20:56] Abbyrosler opened #22 "Scrapbook; 'Search for phrase' filter does not yield results"
When I enter keywords/ phrases into the "Search for phrase" bar, nothing happens after I click "search". All the clips remain in view without adhering to the keywords.

Chrome 83; Macbook Pro (version 10.13.6); macOS High Sierra

[2020-08-04 21:03] Abbyrosler opened #23 "Can't successfully submit a comment on clip"
When I click "+ comment" on a clip, the "Add comment" block pops up, I type in my comment, but when I press "submit" nothing happens. The "Submit" button remains outlined in blue, but no comment is saved.

Chrome 83; Macbook Pro (version 10.13.6); macOS High Sierra

[2020-08-04 21:05] lorenachipstudio commented on #23
@Abbyrosler We'll take a look- thank you!

[2020-08-04 21:05] lorenachipstudio commented on #22
@Abbyrosler We'll take a look- thank you!

[2020-08-04 21:05] lorenachipstudio commented on #21
@ythuang123 We'll take a look- thank you!

[2020-08-04 21:05] lorenachipstudio commented on #20
@ythuang123 We'll take a look- thank you!

[2020-08-04 21:23] Abbyrosler opened #24 "Consent form; Checkbox goes from white square to blue square"
While I expected the checkbox to go from light grey square (unchecked) to dark grey square (checked), it goes from white square (unchecked) to blue square (checked).

Chrome 83; Macbook Pro (version 10.13.6); macOS High Sierra

[2020-08-04 21:31] Abbyrosler commented on #18
I noticed this too
Chrome 83; Macbook Pro (version 10.13.6); macOS High Sierra

[2020-08-05 00:22] lorenachipstudio commented on #15
@koppen152 @ichimura-a We've deployed a fix onto the staging site for this. Can you confirm that the bug has been fixed?

[2020-08-05 00:23] lorenachipstudio commented on #17
@koppen152 @ythuang123 We've deployed a fix onto the staging site for this. Can you confirm that the bug has been fixed?

[2020-08-05 00:23] lorenachipstudio commented on #19
@ichimura-a We've deployed a fix onto the staging site for this. Can you confirm that the bug has been fixed?

[2020-08-05 00:23] lorenachipstudio commented on #20
@ythuang123 We've deployed a fix onto the staging site for this. Can you confirm that the bug has been fixed?

[2020-08-05 00:24] lorenachipstudio commented on #22
@Abbyrosler We've deployed a fix onto the staging site for this. Can you confirm that the bug has been fixed?

[2020-08-05 00:54] koppen152 commented on #17
@lorenachipstudio Fixed for me! iPhone 7, safari, iOS 13.6

[2020-08-05 00:56] koppen152 commented on #24
@Abbyrosler This is probably just the bug checking checklist being not up to date. Thanks for your attention to detail though!

[2020-08-05 01:00] koppen152 commented on #15
@lorenachipstudio the drop down menu worked as expected, but I (the account owner) do not appear in the drop down menu.

[2020-08-05 13:20] ichimura-a commented on #19
Yes, I am able to edit conversations in my Scrapbook. Thank you!

[2020-08-05 13:22] ichimura-a commented on #24
Yes, that is totally my mistake not updating the bug checking checklist. Sorry about that. This issue can be closed.

[2020-08-05 13:33] ichimura-a commented on #15
@lorenachipstudio The drop down menu works great, although the "Only Clips With No Label" checkbox still does not.

[2020-08-05 14:55] parkerrobbins opened #25 "Long clip uploaded in full buffers indefinitely after pressing submit"
**Date**
2020-08-05

**Browser / OS / device (including version numbers)**
Google Chrome Version 84.0.4147.105 (Official Build) (64-bit), Ubuntu 18.04.4 LTS, Dell Latitude E7450

**What did you do?**
Uploaded a large MP4 (7m22s; 25.6 MB) to extract audio from. Audio extraction was quick and audio played completely.

**What did you expect to happen?**
I expected some lagging and buffering when I cl

[2020-08-05 15:37] parkerrobbins commented on #10
Reproduced here as well. As @Abbyrosler said, sometimes the correct transcription was "", and other times it was "do do do do" or "clip" when clearly the clip was just background noise.

**Date**
2020-08-05

**Browser / OS / device (including version numbers)**
Google Chrome Version 84.0.4147.105 (Official Build) (64-bit), Ubuntu 18.04.4 LTS, Dell Latitude E7450

[2020-08-05 15:48] ythuang123 commented on #20
Yep, this has been fixed! Thanks!

[2020-08-05 15:48] #20 closed

[2020-08-05 15:54] ythuang123 commented on #17
Works for me too! Thanks! Chrome / Window 10 Enterprise v. 1909 (OS build 18563.959) / ThinkPad X1 Carbon 4G

[2020-08-05 17:34] Abbyrosler commented on #22
@lorenachipstudio Confirmed!

[2020-08-05 18:30] jkhartshorne opened #26 "Overlap of buttons"
**What I expect**: the play button to not overlap with text

**Me**
* Chrome Version 84.0.4147.105
* MacBook Air
* OSX 10.15.6

I've seen a similar error on my Galaxy S20 as well.

![Screen Shot 2020-08-05 at 2 25 57 PM](https://user-images.githubusercontent.com/6118115/89450163-1c332900-d728-11ea-9655-5e4c30cf7fcc.png)

[2020-08-05 18:36] jkhartshorne opened #27 "No avatar for comments?"
**What I expect**
Some sort of icon next to my comment

**What I see**
Blank circle.

**Who am I?**
Chrome Version 84.0.4147.105
MacBook Air - 10.15.6

![Screen Shot 2020-08-05 at 2 32 20 PM](https://user-images.githubusercontent.com/6118115/89450762-112cc880-d729-11ea-9b21-622f2cd621ba.png)

[2020-08-05 20:04] lorenachipstudio commented on #15
@ichimura-a We'll take a look- thank you for the check!

[2020-08-05 20:06] lorenachipstudio commented on #25
@parkerrobbins We'll take a look- thanks!

[2020-08-05 20:11] lorenachipstudio commented on #26
@jkhartshorne We'll take a look- thanks!

[2020-08-05 20:12] lorenachipstudio commented on #27
@jkhartshorne we'll take a look

[2020-08-05 20:37] lorenachipstudio commented on #27
@jkhartshorne Currently if you do not have a selected avatar at the time of the comment you will see a blank circle.

You can just go to the Settings page to see if you've selected an avatar. Once selected, future comments will show their avatar instead of a blank circle.

[2020-08-05 22:26] jkhartshorne commented on #27
@lorenachipstudio - I just selected an avatar. The comment did not update. If we're not going to have it update, can it at least be the circle with the initial in it to start with?

[2020-08-06 14:06] ythuang123 commented on #2
I've encountered the same error again -- see below. I was using the regular KidTalk app (kidtalk.app) on my iPhone SE (version iOS 13.5.1) on Safari (latest?). Here are the pictures. Same deal as before. It wasn't a particularly long recording (a couple minutes). I got the "uploaded complete" message but when the I went to the scrapbook, the tile was grayed out.

This is a serious bug. Multiple ti

[2020-08-06 18:10] lorenachipstudio commented on #21
@ythuang123 The question marks are actually placeholders for icons rather than text. If no selected icons exist for the clip, it will show the question mark instead. We are working on a way to go back in to edit selected icons for clips which is currently in development.

[2020-08-06 18:13] lorenachipstudio commented on #23
@Abbyrosler Are you able to provide the following:

1. Send a series of screen shots, or step by step information with details to recreate it?
2. Is this only on that one clip, a few clips or all clips in your scrapbook?

[2020-08-06 18:15] lorenachipstudio commented on #26
@jkhartshorne Fix was deployed to staging. Can you confirm the fix?

[2020-08-06 18:18] lorenachipstudio commented on #15
@ichimura-a We updated the "Only Clips with No Label" fix and deployed it to staging. Can you confirm it's fixed?

[2020-08-06 18:23] lorenachipstudio commented on #2
@ythuang123 I've alerted Alex about this as high priority- I'll provide an update ASAP on this.

[2020-08-06 18:24] ichimura-a commented on #15
@lorenachipstudio Yes, the "Only Clips with No Label" works for me now. Thanks!

[2020-08-06 19:22] lorenachipstudio commented on #2
@ythuang123 I spoke with Alex and we'll be deploying the fix into production today. The fixes were deployed into the staging site back on 7/24 and we were just awaiting confirmation from your team that this was fixed (in the staging site) before promoting it to production.

We'll go ahead and promote it to production today so this should be resolved by tonight.

Going forward, we'll just reply to

[2020-08-07 12:53] Abbyrosler commented on #23
@lorenachipstudio I tried it again and it worked this time with multiple clips! This needs no fix until further notice. Thanks!

[2020-08-07 13:05] ythuang123 commented on #2
Got it, thanks a bunch. I really appreciate how quickly you guys were able to tackle this, and I'm sorry about the confusion about where the fixes lived. Your plan moving forward sounds good.

Follow up questions--> What does it mean to "fix bug"? I'm on the kidtalk.app site (public one) and the two recordings are "still processing." Does that mean that these recordings are lost? So the only way t

[2020-08-07 13:10] Abbyrosler commented on #10
This happened again on my other device. The correct transcriptions this time were "light", "click", or "".

Safari 13; iOS 13.5.1; iphone 8

[2020-08-07 13:44] Abbyrosler opened #28 "User does not automatically disappear under "Access to [child]'s clips" when invitation is deleted"
In the 'My Family' tab, I invited a user to access the child's clips. When I clicked the 'Edit' option under "Access to child's clips" and then **"Delete this Invitation",** the user does NOT disappear under "Access to child's clips". If I refresh the page, then that user disappears, but I _have_ to refresh the page in order to see that.

Safari 13; iOS 13.5.1; iphone 8

[2020-08-08 00:16] alexchippendale commented on #16
This should now be fixed in staging. Please confirm when you get a chance, thanks!

[2020-08-08 00:17] alexchippendale commented on #14
This should now be fixed in staging, please verify when you get a chance. Thanks!

[2020-08-08 00:24] koppen152 commented on #14
Fixed! Thank you!

[2020-08-08 00:27] koppen152 commented on #16
Yes, fixed. Thank you!

[2020-08-08 12:38] lorenachipstudio commented on #12
Hi @koppen152 this should be resolved on staging now. Can you confirm when you get a chance?

[2020-08-08 12:39] lorenachipstudio commented on #9
@ythuang123 @koppen152 @ichimura-a this should be resolved on staging now. Can you confirm when you get a chance?

[2020-08-08 12:40] lorenachipstudio commented on #27
@jkhartshorne We've updated staging to now show the first name of the commenter under their avatar and changed the blank circle to a better looking generic grey stand in avatar. It's possible some comment submissions on staging prior to this update may not include the name (though most will), but going forward even if a new user does not have a selected avatar and they comment, they will at least

[2020-08-08 12:42] lorenachipstudio commented on #8
@ichimura-a Can you test this on staging? The team was not able to reproduce the bug and believe it was related to another issue that has already been fixed. Thanks so much!

[2020-08-08 12:48] lorenachipstudio commented on #10
@parkerrobbins @koppen152 @Abbyrosler We've found that this is because of the large volume of test clips the devs have added to test features, rather than a bug in the software. We will begin removing test clips to address this. As for the "submit guess button" issue, this is from a separate bug report and should be fixed on staging now.

[2020-08-08 12:48] lorenachipstudio commented on #11
@koppen152 Code has been updated on staging for this, can you confirm it's resolved?

[2020-08-08 12:50] lorenachipstudio commented on #25
@parkerrobbins We tested this with 100+ MB MP4s and were unable to recreate this issue thus far. It is possible that this was related to a separate bug that has since been fixed on staging, so it's worth testing again to see if the issue is resolved on staging. It is also possible that there is some difference between that specific video upload vs others we've seen, so you may want to test with a

[2020-08-08 12:51] lorenachipstudio commented on #21
@ythuang123 this should be resolved in staging- can you confirm?

[2020-08-08 12:51] lorenachipstudio commented on #7
@jmnolasco this should be fixed in staging- can you confirm?

[2020-08-08 12:53] lorenachipstudio commented on #5
@jmnolasco this should be resolved on staging- can you confirm?

[2020-08-08 12:53] lorenachipstudio commented on #18
@ichimura-a @Abbyrosler this should be fixed on staging- can you confirm?

[2020-08-08 12:55] lorenachipstudio commented on #13
@koppen152 This should be fixed on staging, can you confirm?

[2020-08-08 13:35] koppen152 commented on #12
Fixed, thank you.

[2020-08-08 13:37] koppen152 commented on #9
@lorenachipstudio this is fixed for me. Thanks!

[2020-08-08 13:40] koppen152 commented on #11
@lorenachipstudio resolved.

[2020-08-08 13:43] koppen152 commented on #13
@lorenachipstudio yes, the icons are working now. Thank you.

[2020-08-09 13:34] jkhartshorne opened #29 ""Children shared with me" lists users, not children"
As you can see in this screenshot, "Children Shared With Me" lists the user, not the child. BTW, the user is the account shared with, not the account that did the sharing. So all I know is that I have access to ... myself?

Also, what's "Actions"?

- MacOS 10.15.6
- Chrome 84.0.4147.105

![Screen Shot 2020-08-09 at 9 32 09 AM](https://user-images.githubusercontent.com/6118115/89733425-69aedf00-da2

[2020-08-09 13:42] jkhartshorne opened #30 ""Parent Avatar" -> "Adult Avatar""
When you add an adult to your family, it asks you to pick a "parent avatar". Please change to "adult avatar" or just "avatar". Not all of these are meant to be adults!

[2020-08-09 13:43] jkhartshorne opened #31 "Comment button gets stuck"
**What Happens** Unable to click "submit".
**What I Expect** To be able to submit a comment!

![Screen Shot 2020-08-09 at 9 38 00 AM](https://user-images.githubusercontent.com/6118115/89733554-2e60e000-da24-11ea-811e-190cb31e53b5.png)

This has happened twice to me. Both times with brand new accounts. For the first account, I submitted an error through the app itself, and then afterwards I was abl

[2020-08-09 13:44] jkhartshorne commented on #27
Unfortunately, I cannot yet test this functionality. See https://github.com/jkhartshorne/KidTalkIssues/issues/31

[2020-08-09 14:02] jkhartshorne opened #32 "Weird things happen when sharing a kid"
1. I (Josh) shared a child (BinBin) with another account, which I named "Princess".
2. I logged in as Princess, named myself "Helen", and chose an avatar.
3. I made a recording, tagging both myself and BinBin.
4. I commented on that recording.
5. I logged in as Josh and looked at my scrapbook. I see only "BinBin" in the taggerd avatar list.
6. I see a comment by Helen, using Helen's avatar.

**Wha

[2020-08-10 01:41] #16 closed

[2020-08-10 01:41] #13 closed

[2020-08-10 01:46] #10 closed

[2020-08-10 01:48] #11 closed

[2020-08-10 01:48] #15 closed

[2020-08-10 01:49] #17 closed

[2020-08-10 01:49] jmnolasco commented on #5
I just checked again, on iPhone XR, Safari, with a 30 second clip and it uploaded much faster for me, thank you so much!

[2020-08-10 01:49] #5 closed

[2020-08-10 01:51] jkhartshorne commented on #1
This appears to have been fixed.

[2020-08-10 01:51] #1 closed

[2020-08-10 01:54] jmnolasco commented on #7
I tried out Say What & now i'm getting something strange like background noise for the audio. When I press play, I heard background noise and when I "submit guess" it gives me an actual transcription. I tried this in staging.

I also tried it in the actual app, and didn't encounter this issue anymore so I'm not sure if it's actually my phone

[2020-08-10 01:55] #24 closed

[2020-08-10 01:55] jkhartshorne commented on #26
Fixed!

[2020-08-10 01:55] #26 closed

[2020-08-10 01:56] jmnolasco commented on #7
Thank you so much for your work on this!

[2020-08-10 02:10] koppen152 commented on #3
I have not encountered this issue this week. IPhone 7/Safari/iOS 13.6

[2020-08-10 02:12] koppen152 commented on #2
I have not encountered this issue in staging this week. Thanks! IPhone 7/safari/iOS 13.6

[2020-08-10 02:13] #12 closed

[2020-08-10 02:14] #14 closed

[2020-08-10 13:19] ythuang123 commented on #21
Hi Lorena -- Sorry for the delay. I'm back on the staging site, but I still can't edit the selected icons for clips. The only options I see are edit label, submit, and delete clip (same as last time --see below). Can you confirm that something has changed?

![image](https://user-images.githubusercontent.com/68764650/89786857-98dc5380-daea-11ea-9845-6a2b0946c7ce.png)

[2020-08-10 13:26] ythuang123 commented on #9
@lorenachipstudio -- The audio stops playing now, but it's _only_ played the same audio clip (sounds like a door shutting) after 10+ plays. So I can't tell if this issue is really fixed because it can now seamless plays a variety of audio without stop or whether the set of audio clips have been narrowed to a single one than can be played without issue. Would it be possible to add in other audio cl

[2020-08-10 13:28] ichimura-a commented on #8
@lorenachipstudio Yes, the waveform appears for me. Thanks!

[2020-08-10 13:28] #8 closed

[2020-08-10 13:32] ichimura-a commented on #9
@lorenachipstudio This is also fixed for me.

[2020-08-10 13:36] ichimura-a commented on #18
@lorenachipstudio This is fixed for me.

[2020-08-10 13:36] ythuang123 commented on #2
@lorenachipstudio -- I've encountered this issue on the Kidtalk.app site again (see below). I've been making a recording _everyday_ with my daughter to kick the tires on the live platform (experience what our research participants experience). These recordings are longer than our earlier ones (5-10 minutes), and this may be why we're encountering this bug now. So we've lost 3 of the last 11 record

[2020-08-10 13:43] #19 closed

[2020-08-10 14:11] ichimura-a commented on #3
I have also not encountered this issue this past week. MacBook Air/Chrome 84.0.4147.105/macOS 10.15.6

[2020-08-10 14:11] ichimura-a commented on #2
I have also not encountered this issue in staging this past week. MacBook Air/Chrome 84.0.4147.105/macOS 10.15.6

[2020-08-10 14:51] parkerrobbins commented on #2
I have also not observed this issue:

Galaxy S9 | Android 10 | Chrome 84.0.4147.115
Dell Latitude E7450 | Ubuntu 18.04.4 LTS | Chrome 84.0.4147.105

[2020-08-10 14:52] parkerrobbins commented on #3
I have not observed this issue.

Galaxy S9 | Android 10 | Chrome 84.0.4147.115
Dell Latitude E7450 | Ubuntu 18.04.4 LTS | Chrome 84.0.4147.105

[2020-08-10 17:00] jkhartshorne commented on #3
OK. I'm closing.

[2020-08-10 17:01] jkhartshorne commented on #2
Sounds like it isn't happening in staging. @lorenachipstudio - can you please answer Yi Ting's question above?

[2020-08-10 17:03] jkhartshorne commented on #21
I think this is still open. See: https://github.com/alexchippendale/KidTalkRemainingTasks/issues/4

[2020-08-10 18:46] alexchippendale commented on #21
@jkhartshorne @ythuang123 Yes this is in development right now, apologies for the confusion I believe I referenced this issue by mistake when speaking to @lorenachipstudio about a separate issue.

@jkhartshorne Would you mind closing this one here (or in the Remaining Tasks repo) so that we don't have a duplicate?

[2020-08-10 18:51] alexchippendale commented on #28
@Abbyrosler Thank you for bringing this to our attention. The invitation is deleted on the backend upon clicking "Delete this Invitation", but as you noted there is no immediate user feedback to make that clear. We are currently working on building this user feedback into the app. Thanks!

[2020-08-10 18:54] alexchippendale commented on #6
@ythuang123 Good catch, we are working on updating the staging invite link to clear up the confusion. Thanks!

[2020-08-10 19:39] alexchippendale commented on #2
@ythuang123
That's frustrating, we're trying to get a better sense of what's going on in this case. We deployed a fix to an issue we found that causes the "still processing" to stay there and deployed on Thursday to production, but there may be a separate error getting thrown in your account. We have a few questions which will hopefully help us diagnose and fix this issue:

1) Could you check your

[2020-08-10 19:47] alexchippendale commented on #31
@jkhartshorne Thanks for the detail here, sounds like it can happen with new accounts sometimes. We are currently working on recreating this issue.

[2020-08-10 20:20] alexchippendale commented on #30
@jkhartshorne We are currently working on this. Is a deploy to staging once it's done alright? Or is it important that it's on production as soon? Thanks

[2020-08-10 20:51] ythuang123 commented on #2
Thanks for your questions -- answers below!

_> 1. Could you check your older recordings that were made prior to the code we pushed to production on Thursday? The ones that were stuck before, are they still stuck? or is it only on the newer, longer recordings submitted since then?_

The older and newer ones are all stuck. :(

_> Just to make sure, longer clips can take longer to process and if you

[2020-08-10 20:57] jkhartshorne commented on #30
Deploy to staging is fine.

[2020-08-10 20:57] jkhartshorne commented on #29
@lorenachipstudio just making sure you saw this.

[2020-08-10 20:58] jkhartshorne commented on #25
@parkerrobbins - can you test this again?

[2020-08-10 20:59] jkhartshorne commented on #23
Sounds like this may be the same as this one: https://github.com/jkhartshorne/KidTalkIssues/issues/31

@Abbyrosler - was this right after you made a new account?

[2020-08-10 21:00] #22 closed

[2020-08-10 21:00] #21 closed

[2020-08-10 21:01] #18 closed

[2020-08-10 21:01] alexchippendale commented on #30
Great, I'll let you know when it's up.

[2020-08-10 21:22] alexchippendale commented on #32
@jkhartshorne We are looking into this, thank you for the detail.

[2020-08-10 21:28] alexchippendale commented on #9
Thanks for testing @ythuang123 @koppen152 @ichimura-a!

@ythuang123 are you testing on staging or production?

[2020-08-10 21:32] alexchippendale commented on #7
@jmnolasco Thanks for testing! I believe you are hearing test clips on staging, some of which are given transcriptions as the devs do testing even if it's just a background noise. This week we are working on removing test clips so that it's clear the difference between a bug in the code and just a bunch of test clips. Let us know if that makes sense!

[2020-08-10 21:34] ythuang123 commented on #9
Staging -- I just checked it again, and still getting the same clip 10+ times. Again, I can't tell if this is a real bug or just that the fact that there aren't many recordings to draw from for "Say What." Here's [an audio recording of what I hear after the mouse clicks](https://drive.google.com/file/d/1wy6akL4U9di5p-HQJ444Twv7UIfqHH4J/view?usp=sharing).

[2020-08-10 21:36] alexchippendale commented on #2
@ythuang123 Thank you for your answers! This will help us narrow down what's going on. By the way, have you experienced this on staging at all or with other accounts?

[2020-08-10 21:38] ythuang123 commented on #2
@alexchippendale -- This is with the production site (kidtalk.app). I haven't encountered it in staging, but those clips have been much shorter.

[2020-08-10 21:48] alexchippendale commented on #9
@ythuang123 I see. I believe the issue you're referring to there is issue #7 Say What Clips Stop Playing. Take a look at that one, but the door shutting sound or background noise sounds sound like the test clips I've heard. We will be going through this week and removing test clips from staging. There is an admin portal for production where only good real clips can be selected, I will go over this

[2020-08-10 21:50] alexchippendale commented on #2
@ythuang123 Thanks for the info. We are working on this right now.

[2020-08-10 21:56] #7 closed

[2020-08-10 22:07] lorenachipstudio commented on #29
@jkhartshorne Yes- i reported this to our dev team!

[2020-08-10 22:11] ythuang123 commented on #9
@alexchippendale -- got it, and so after the test clips are removed, we'll hear a variety of sound clips for "Say What" (not just the same one over and over again)?

[2020-08-10 22:18] ythuang123 commented on #2
I've replicated the error on the staging.kidtalk.app site on my iPhone SE (version iOS 13.5.1) on Safari (latest?). It's a 10 minute clip and it's been grayed out for the last 20 minutes (logged in and out) -- see below. There's no "still processing" message on the staging site. I'm checking to see if I can get the error when recording from my PC laptop.

![2020-08-10_18-14-48_000](https://user-im

[2020-08-10 22:25] ythuang123 commented on #25
I've encountered this bug on staging. I made a long recording (~10 min) and I've been waiting 6 minutes for the converting screen to resolve (see below). I'm using: Chrome, Window 10 Enterprise v. 1909 (OS build 18563.959), ThinkPad X1 Carbon 4G
![image](https://user-images.githubusercontent.com/68764650/89837383-dc5caf00-db36-11ea-9ebf-db75910057c5.png)

[2020-08-10 22:47] SecondStreetDevelopment commented on #2
@ythuang123 We've identified the error related to the issue with this recording.  We're researching it now.
![image](https://user-images.githubusercontent.com/49379014/89838652-a44a7180-db20-11ea-92eb-050fc24643ff.png)

[2020-08-10 22:49] alexchippendale commented on #9
@ythuang123 Yes, we will also activate clips for Say What on staging which are good quality. Right now you're basically hearing 10 very similar sounding background noise clips from devs since clips from our accounts on staging are currently the only ones it pools from which we used for internal testing. We will change this pool to show actual clips from people who have been testing real clips on s

[2020-08-11 00:37] alexchippendale commented on #30
@jkhartshorne This should be fixed on staging now, it is now just "avatar" instead of "parent avatar". Please confirm when you get a chance, thanks!

[2020-08-11 01:04] ythuang123 commented on #25
This might be closer to @parkerrobbins's original bug (the one I posted could be a separate one). I recorded a 24 minute clip since we've been inviting families to leave their devices on to record dinner. This took 15 minutes to convert but now it's been stuck in the uploading page for the last 10 minutes. I'm using: Chrome, Window 10 Enterprise v. 1909 (OS build 18563.959), ThinkPad X1 Carbon 4G.

[2020-08-11 01:10] ythuang123 commented on #2
I've replicated the error on the staging.kidtalk.app site on my Chrome, Window 10 Enterprise v. 1909 (OS build 18563.959), ThinkPad X1 Carbon 4G. It's a 24 minute clip and it's been grayed out for the last 15 minutes (logged in and out) -- see below. There's no "still processing" message on the staging site.
![image](https://user-images.githubusercontent.com/68764650/89845942-dfaf6500-db4d-11ea-84

[2020-08-11 01:14] SecondStreetDevelopment commented on #2
@ythuang123 Thank you for the feedback.  Yes, it looks like this issue is related to the clip size so it will occur on any platform.  I'm working on a fix right now, I will let you know when we have it ready for staging.

[2020-08-11 01:52] alexchippendale commented on #9
@ythuang123 We've removed the test clips from the pool so this should be resolved on staging now. There are only 5 or 6 clips that fit the criteria of Say What? right now on staging. These are clips made by people testing staging (but not the devs) and there aren't a lot at the moment so you should expect to hear repeats sometimes, though you should no longer hear the background noise sounds (unle

[2020-08-11 01:58] alexchippendale commented on #25
@ythuang123 Thanks for the info, we're investigating this.

[2020-08-11 13:13] jkhartshorne opened #33 "Processing audio is prohibitively slow"
Having all the processing happen before playback solved one problem, but it seems it has created another. Processing takes a very, very long time. For in-app recordings, it looks like it usually takes longer to process than to record. So someone making a 2-minute recording may wait 2.5 minutes for processing, which is too long, particularly if we expect them to stick around to label the recording

[2020-08-11 14:25] parkerrobbins commented on #25
@jkhartshorne @lorenachipstudio No, I can't reproduce this anymore with the original clip and or with a file over 100MB.

[2020-08-11 16:20] ythuang123 commented on #9
@alexchippendale -- this is resolved for me, thanks! I hear many clips of @parkerrobbins's recitation of the Universal declaration of human rights. :)

[2020-08-11 19:38] alexchippendale commented on #33
@jkhartshorne Thanks for the detailed information on timing. Could you take a look at #25 , I believe these may be the same issue. The difference being in issue #25 the clips are sometimes even longer uploads and people could end up exiting out. If they seems like the same issue, we should combine these two tickets. Thanks!

[2020-08-11 19:52] #9 closed

[2020-08-11 20:09] ythuang123 commented on #33
@alexchippendale -- I think (not totally sure) that this is also related to issue #2. So I'm on the staging site on my PC (Lenovo, Chrome, Windows) and I made another 23-minute recording. After I pressed stop, it took a long time to convert -- but it did do it eventually. But then after I press submit, it was stuck on the uploading screen for 60+min, and then I exited out. When I go to the scrapbo

[2020-08-11 20:14] alexchippendale commented on #33
@ythuang123 Thanks, upload times and clip length do seem to be a common factor on the grayed tiles. We're working on seeing if the two are related.

[2020-08-11 20:38] jkhartshorne commented on #33
@alexchippendale These could be related. I wouldn't be surprised if getting stuck in processing was related to people exiting out or their phone going to sleep. Even if it isn't related, though, it's an issue in its own right, since it affects usability. Nobody wants to wait a few minutes on the same page waiting for the file to upload.

Adding a status bar may be helpful BOTH for UX and also for

[2020-08-12 00:00] alexchippendale commented on #31
@jkhartshorne The button should now no longer get stuck in this case. Please confirm when you get a chance (might want to clear your cache to make sure).

[2020-08-12 00:03] alexchippendale commented on #30
@jkhartshorne This should be fixed on staging with just "avatar". Please confirm and close when you get a chance, thanks!

[2020-08-12 00:05] alexchippendale commented on #28
@Abbyrosler we are continuing to work on this. We'll let you know when a fix is up.

[2020-08-12 00:08] alexchippendale commented on #27
@jkhartshorne Should be able to test what @lorenachipstudio wrote above now. Button from #31 should be unstuck, thanks.

[2020-08-12 00:27] alexchippendale commented on #23
@Abbyrosler @jkhartshorne This was related to an error when no name or avatar had been selected for some new accounts. This is the same issue as #31 , please close this issue when #31 is confirmed, thanks!

[2020-08-12 00:29] alexchippendale commented on #6
@ythuang123 Still working on this, will update you when it's fixed.

[2020-08-12 00:30] alexchippendale commented on #2
@ythuang123 We're continuing to work on this, will let you know when we have an update.

[2020-08-12 11:58] jkhartshorne commented on #31
Seems to work!

[2020-08-12 11:58] #31 closed

[2020-08-12 11:58] #23 closed

[2020-08-12 11:59] #30 closed

[2020-08-12 11:59] jkhartshorne commented on #27
Looks good.

[2020-08-12 11:59] #27 closed

[2020-08-12 14:30] ythuang123 opened #34 "No time stamp on cropping bar"
I recorded live (about 2 minutes) and was expecting an end timestamp on the cropping bar. Instead I got 0.0 for both start and end.

Browser / Chrome, OS / Window 10 Enterprise v. 1909 (OS build 18563.959), device / ThinkPad X1 Carbon 4G

![2020-08-12_10-15-12_000](https://user-images.githubusercontent.com/68764650/90027527-a3cbeb00-dc86-11ea-9b76-5a9266b4a9a3.png)

[2020-08-12 19:30] lorenachipstudio commented on #34
@ythuang123 I'll have the team take a look at this. I'll keep you posted on updates.

[2020-08-12 23:49] SecondStreetDevelopment commented on #2
I've been able to reproduce this issue with a 12min clip.
![image](https://user-images.githubusercontent.com/49379014/90077374-d1c92380-dcb6-11ea-8faf-1ff50e1ad08c.png)

[2020-08-13 00:37] alexchippendale commented on #32
@jkhartshorne I want to clear up this issue and make sure we understand it correctly.

For (1) under "What I expect" it says you expect "Princess" to show up whereas what happens right now is that "Helen" shows up. The reason for this is because "Helen" is the name the invited other adult chose on their account, and the avatar they had when they commented.

It seems that this issue is essentially

[2020-08-13 00:42] alexchippendale commented on #29
@jkhartshorne Yes, it looks like it's pulling in the correct sharing invitation but using the adult's name instead of the child's. We are working on having it say "Child" or "Child Name" instead of "User", and using the actual child's name instead of the user that was shared with (which in this case is just that logged in user!). We'll let you know when it is updated, thanks.

[2020-08-13 02:15] jkhartshorne commented on #32
@alexchippendale - I guess saying what I "expect" is confusing here. I mean that as a naive user, I expect that if I've labeled someone as "Princess" and given them a particular avatar, then they should show up in the scrapbook as "Princess" and with that avatar.

The problem goes away if I don't choose a name or avatar for them. Under that scenario, when I share with someone, I don't choose a nam

[2020-08-13 03:18] alexchippendale commented on #32
@jkhartshorne Understood, that makes sense

[2020-08-13 03:19] alexchippendale commented on #29
@jkhartshorne This should now be fixed on staging, please confirm when you get a chance!

[2020-08-13 03:21] jkhartshorne commented on #29
Yep!

[2020-08-13 03:21] #29 closed

[2020-08-13 11:09] lorenachipstudio commented on #2
@jkhartshorne Thank you for the additional info on this- I'll share this with Alex and the team as they continue to work on a fix.

[2020-08-13 14:58] parkerrobbins commented on #25
@jkhartshorne @lorenachipstudio @alexchippendale

Today, I did have this problem again. Same device, OS, and Chrome version as before.

The clip was 400 sec long and the MP4 was only 14.3MB (so not even really that large). I waited 35 minutes before I finally couldn't watch it in my peripheral vision anymore and closed the window.

[2020-08-13 15:10] ichimura-a opened #35 "Incorrect Time for"

[2020-08-13 15:19] parkerrobbins commented on #2
@lorenachipstudio @jkhartshorne

I also saw this in staging today for both the original clip I mentioned in #25 and for the other one I commented about in that issue today. (I somehow missed this the other day.)

Dell Latitude E7450 | Ubuntu 18.04.4 LTS | Chrome 84.0.4147.105

[2020-08-13 15:19] ichimura-a opened #36 "Incorrect Time for Import Conversation from Video"
After I put in a date and time for when the imported audio was recorded, the time in the scrapbook was early by 4 hours.

iPhone 7 / Safari / iOS 13.6

For example, I had set the time of the imported audios for 9:59 am, but the scrapbook indicates it to have been recorded at 5:59 am.

![image](https://user-images.githubusercontent.com/68654587/90152909-54ed8680-dd56-11ea-95ae-e79a5e807ccf.png)

[2020-08-13 15:20] #35 closed

[2020-08-13 15:27] SecondStreetDevelopment commented on #25
Thanks @parkerrobbins

I had a feeling you would still be able to reproduce this issue.  I'm working on it right now.

[2020-08-13 15:27] ichimura-a commented on #2
I also saw this in staging whenever I tried adding a clip from "Import Audio from Video" into the scrapbook.

iPhone 7 / Safari / iOS 13.6

[2020-08-13 15:57] jkhartshorne commented on #36
BTW We want the 'hour' tag turned off anyway (there's in the punchlist). Should be date only. But this could of course affect dates as well, if it's near midnight.

[2020-08-13 16:36] ichimura-a commented on #36
@jkhartshorne If I input a time before 4 am, then the scrapbook will display the date of the previous day. Not sure if this would happen if the hour tag is removed.

[2020-08-13 17:20] SecondStreetDevelopment commented on #2
@ichimura-a, yes, thank you.  I have seen it in "Import Audio from Video" as well.  That is what I am working on right now.

[2020-08-13 19:18] SecondStreetDevelopment commented on #2
I've just published a pull request which contains a fix for this issue.  We will let you know after it is reviewed and merged/published to the staging site.

[2020-08-13 19:30] SecondStreetDevelopment commented on #25
I've just published a pull request which contains a fix for this issue.  We will let you know after it is reviewed and merged/published to the staging site.

[2020-08-13 20:44] lorenachipstudio commented on #36
@jkhartshorne @ichimura-a We'll take a look at this- thanks!

[2020-08-13 21:14] alexchippendale commented on #28
@Abbyrosler This should be fixed on staging. Please confirm when you get a chance!

[2020-08-13 21:15] alexchippendale commented on #6
@ythuang123 The email link should be fixed on staging. Please confirm when you get a chance!

[2020-08-13 21:28] Abbyrosler commented on #28
@alexchippendale Confirmed!

[2020-08-13 21:40] Abbyrosler opened #37 "Say What: Audio recordings are not of children talking"
The audio recordings seem to be of people in our lab talking. One was about using prescriptive rules, another about intuition, and another was actually one of my own recordings (where the "correct" transcription was ""). Again, NOT kid talk!

Chrome 83, macOS High Sierra, Macbook Pro Version 10.13.6

[2020-08-13 21:46] alexchippendale commented on #37
@Abbyrosler See the thread in #9 , this is not a bug in the software, just the clips in the staging db that meet the threshold for Say What. This is lab user uploaded content, so we can't control what they put as transcriptions or who is talking in the clip. Let me know if that makes sense!

[2020-08-13 22:17] Abbyrosler commented on #37
@alexchippendale ahh got it! I must have looked past that one. Thank you!

[2020-08-13 23:42] #37 closed

[2020-08-13 23:42] #28 closed

[2020-08-14 00:25] ythuang123 commented on #6
@alexchippendale -- Thanks the url has been fixed and it sends me to the staging site. Another problem though (ha!) -- staging doesn't seem to distinguish between folks who do and don't have record access. Instead, it always gives record access even if that box isn't checked. LMK if I've missed something. Thanks! Still using:

Chrome / Window 10 Enterprise v. 1909 (OS build 18563.959) / ThinkPad X

[2020-08-14 00:58] alexchippendale commented on #6
@ythuang123 Thanks for testing! Could you clear your cache and try again with a new invite? I believe it is working now. If it still doesn't would you mind closing this ticket and opening a new one with a couple screenshots? Thanks!

[2020-08-14 01:22] #6 closed

[2020-08-14 01:27] ythuang123 opened #38 "Sharing link gives record access to accounts that not permissioned"
The staging site doesn't seem to distinguish between folks who do and don't have record access. Instead, it always gives record access even if that box isn't checked. I checked the link on multiple browsers and devices, and I'm always able to make new recordings that show up on the shared scrapbook.

![image](https://user-images.githubusercontent.com/68764650/90202282-48474d80-ddab-11ea-9945-60692

[2020-08-14 01:29] ythuang123 opened #39 "Zip code error when creating new account"
I tried to create a new account on the staging site and got this wacky error. It doesn't seem to matter what zip code I put in or whether I leave it blank. This error always popped up. I'm using: iPhone SE (version iOS 13.5.1) on Safari (latest?).

![2020-08-13_21-18-23_000](https://user-images.githubusercontent.com/68764650/90202555-0ec31200-ddac-11ea-9113-db71b4b7eaed.png)

[2020-08-14 01:56] jkhartshorne commented on #38
Interesting. I definitely had the permissioning work for me a couple days
ago. MACOS 10.15.6 / chrome

On Thu, Aug 13, 2020, 9:27 PM ythuang123 <notifications@github.com> wrote:

[2020-08-14 13:42] Abbyrosler opened #40 "Audio recordings in scrapbook keep playing after "collapsing""
If I click 'play' on an audio recording in my scrapbook, it will play from beginning to end (as it should!). However, once the audio reaches the end, and I tap the rectangle to collapse back into the scrapbook, the audio keeps playing out of my control.

Safari 13; iOS 13.5.1; iphone 8

[2020-08-14 18:15] alexchippendale commented on #38
@ythuang123 @jkhartshorne I think there might be some confusion on "record access". We don't disable a user's ability to record anything when using the app. Anyone who logs in to an account can make recordings of their own children or themselves. This permission allows the invited user who has created their own account to also tag the inviter's child in recordings. Obviously there is no way for us

[2020-08-14 18:20] alexchippendale commented on #39
@ythuang123 Hmm that's interesting, that error typically shows up when there are an incorrect number of characters for a 5 digit zip code or if there are strange characters in the field. What zip code did you put into it? Also check that there aren't a bunch of blank spaces or blank spaces followed by extra character. You can also try going all the way to the right of the text in that filed, delet

[2020-08-14 18:23] alexchippendale commented on #40
@Abbyrosler We can work on having the audio stop in either case if you close the scrapbook tile. Are you saying it played the same clip over again after it ended and you closed it, or that you had stopped listening part way through and closed it but it kept playing?

[2020-08-14 19:06] jkhartshorne commented on #38
Yes, that's what I meant. It worked that way foe me. Yi Ting?

On Fri, Aug 14, 2020, 2:15 PM alexchippendale <notifications@github.com>
wrote:

[2020-08-14 21:18] alexchippendale commented on #36
@ichimura-a There is an issue with iOS 13, iPadOS and some older versions on iOS 11/12 that causes the timezone to get shifted when selecting a date in web apps. This is a problem with those operating systems and we've been able to recreate it on an iPhone iOS 13. We're working on a fix from our side that will correct for it on those devices.

[2020-08-14 21:26] alexchippendale commented on #34
@ythuang123 We've tested this quite a bit and have not yet been able to recreate it. Is there a series of steps you've done that reliably produce the 0.0 issue? Also does this only happen on one device or across different devices? Thanks!

[2020-08-15 02:33] ythuang123 commented on #38
@alexchippendale -- Thanks for the explanation. Very helpful. I was thinking that the "Share with only" access is like the "view only" version of a Google doc (i.e., you can see but you can't edit). But what you described about recording but not tagging is what I'm experiencing. So when someone shares, all the files go into a single scrapbook. E.g., grandpa can make recordings of himself in TX (bu

[2020-08-15 02:37] ythuang123 commented on #39
@alexchippendale -- eh, the internet is a funny place, amirite? ;) I'm 100% sure that I put in legit zip codes and made sure I got rid of the blank spaces (come on Alex, rookie mistakes). But I logged in and out again today and was able to put in those same numbers, blanks, and didn't get the error. So I'm closing this out. I'll re-open it if it appear again. (although just to make me feel like it

[2020-08-15 02:37] #39 closed

[2020-08-15 02:42] ythuang123 commented on #34
@alexchippendale -- This was the first time I'd seen it in my many times on the staging and production sites on my iPhone SE and Lenovo PC. If you can't reproduce it, I'm fine with chalking it up to a stochastic process. Thanks for checking it out.

[2020-08-15 02:42] #34 closed

[2020-08-15 15:27] jkhartshorne commented on #38
So it occurs to me that I don't know how this was working. I think you share children, not scrapbooks. So if you share a child with someone with record permission, then when they record something AND tag the child, it'll show up in your scrapbook, too. But if they record something and don't tag that child, it should be in their scrapbook but not yours.

That's the way it was supposed to be. Is it

[2020-08-16 21:56] alexchippendale commented on #38
@ythuang123 No Problem!

For your last sentence, one case I can think of off the top of my head would be another parent who uses the app who you want to give the ability to listen and comment on recordings of your child, but who you do not want to post recordings of your child. BTW to make sure it's clear, the "record access" permission you give to another user when you share your child is specifi

[2020-08-16 21:56] alexchippendale commented on #38
@jkhartshorne That's correct, and that's how it works currently. Access to view the child's recordings and the ability to tag that child (if given "record access") are shared, not the scrapbook itself.

[2020-08-17 14:57] Abbyrosler commented on #40
@alexchippendale It played the same clip over again after it ended and I closed it. In other words, when I opened the scrapbook tile and pressed "play", it would play from start to finish. But when I closed it, it started playing again from the beginning. I think the same thing would happen even if I stopped the clip midway. Please let me know if you need more clarification!

[2020-08-17 23:08] alexchippendale commented on #40
Thanks @Abbyrosler that makes sense. We have someone working on it and we'll update you once we update staging with a fix. Thanks!

[2020-08-17 23:57] alexchippendale commented on #36
@ichimura-a @jkhartshorne This is now fixed on staging. We actually found that this is a bug built into most mobile web browsers and added special handling to make sure the the time is converted correctly for your timezone (it had been defaulting to UTC).

We fixed the underlying issue with time conversion and also removed the time tag from the scrapbook tiles. Note that that last part is just for

[2020-08-18 02:16] ythuang123 commented on #38
@alexchippendale @jkhartshorne -- got it, thanks. Yes, it makes sense to share recordings of specific children and not the whole scrapbook. So recordings that the permissioned person (who doesn't have record access) makes shouldn't show up on the scrapbook of the permissioner. I've created more recordings with different tags, and I think that's what's happening. Thanks again for walking me through

[2020-08-18 15:17] #36 closed

[2020-08-18 18:42] alexchippendale commented on #38
@ythuang123 Absolutely, no problem!

[2020-08-18 22:41] alexchippendale commented on #2
@ythuang123 We've deployed a fix for this issue to the staging site that should fix the problem for new recordings (thanks @SecondStreetDevelopment!). We are working on getting the older recordings "unstuck" if possible, but the deployed fix should prevent new recordings going forward from hitting this error and getting stuck in the scrapbook. Could you test staging with similar types of recording

[2020-08-18 22:49] alexchippendale commented on #25
@parkerrobbins This should be fixed on staging now. It still may take a minute or two, but shouldn't buffer indefinitely after pressing submit any longer. Note we are also building out a new flow for recording which should also alleviate some of the waiting times (though that part isn't deployed yet!). Please verify that you are able to submit without it buffering indefinitely when you get a chanc

[2020-08-18 22:53] #38 closed

[2020-08-19 14:11] parkerrobbins commented on #25
@alexchippendale Confirmed! Thank you so much!

[2020-08-19 15:21] ythuang123 commented on #2
Thanks @alexchippendale and @SecondStreetDevelopment. I've created several clip on the staging site ranging from 7-23 minutes on my iPhone SE (safari) and Lenovo PC (chrome). Observations:

1. All recordings have posted! None of them have gotten stuck. Woo-hoo!
2. The "converting" time on the PC/Chrome takes forever. Basically as long as the recording itself. So if I made a 11-min recording, I'd h

[2020-08-19 15:49] ichimura-a commented on #2
All recordings have posted, the new fix has fixed the recording issues I had.

[2020-08-19 17:19] jkhartshorne commented on #2
@ythuang123 regarding speed of processing, see https://github.com/jkhartshorne/KidTalkIssues/issues/33 and https://github.com/alexchippendale/KidTalkRemainingTasks/issues/19

[2020-08-19 17:20] jkhartshorne commented on #33
Tagging https://github.com/alexchippendale/KidTalkRemainingTasks/issues/19

[2020-08-19 17:22] jkhartshorne commented on #25
@ythuang123 - can you please confirm that you haven't seen this bug since the fix?

[2020-08-19 17:59] ythuang123 commented on #25
@jkhartshorne -- I haven't seen this issue since the fix for #2. Made a lot of recordings on my iPhone and Lenovo.

[2020-08-19 18:31] jkhartshorne commented on #33
@alexchippendale So looking at the spreadsheet, it looks like processing of in-app recordings is very fast on iPhone (7, 8, & XR). It's slow on everything else we've tested. Do you have any idea why? Does that mean we can have fast processing on all platforms? Or is there just something special about iPhones?

[2020-08-19 18:52] julianividal commented on #3
I had this problem on the **live site** on August 11th on a Macbook Pro, running Chrome 84.0.4147.105 on MacOS 10.14. I checked again today (08/19) and it still occurs.

[2020-08-19 20:14] alexchippendale commented on #40
@Abbyrosler we've deployed a fix for this on staging (if it doesn't work at first you may want to just clear your cache). Please test and verify when you get a chance!

[2020-08-19 20:47] alexchippendale commented on #33
@jkhartshorne Each device + browser combo has its own way of processing audio, which has a lot to do with it. We've got it going faster for iPhone + Safari, and are testing different options to get it faster with other combinations. The new flow should help the user experience as we investigate ways to speed up converting and processing times for other devices. Also, when we complete the native ap

[2020-08-19 21:59] alexchippendale commented on #2
@ythuang123 @ichimura-a Thanks for testing!

[2020-08-20 00:36] jkhartshorne commented on #2
I"m going to go ahead and close this.

[2020-08-20 00:37] jkhartshorne commented on #33
@alexchippendale - makes sense. Thanks for letting me know.

[2020-08-20 00:38] jkhartshorne commented on #3
@lorenachipstudio FYI

[2020-08-21 18:17] Abbyrosler commented on #40
@alexchippendale The fix is confirmed! Thanks.

[2020-08-21 18:42] Abbyrosler opened #41 "Zip code error when creating new account part II"
I noticed @Ythuang123 reported this last week. The same thing just happened to me! Not sure why I am getting this error, and also there is a typo.

<img width="1340" alt="uhoh" src="https://user-images.githubusercontent.com/69211699/90923739-3291e380-e3bc-11ea-9712-75dfe5fc48ae.png">

Macbook pro Version 10.13.6, macOS High Sierra, Chrome 83

[2020-08-22 20:31] alexchippendale commented on #41
@Abbyrosler a fix for this has been deployed to staging.

[2020-08-24 21:03] #40 closed

[2020-08-24 21:03] #41 closed

[2020-08-25 21:20] jkhartshorne commented on #41
@Abbyrosler can you please confirm that you no longer see this issue?

[2020-08-25 21:26] Abbyrosler commented on #41
@jkhartshorne Confirmed.

[2020-08-31 17:33] ichimura-a opened #42 "Text after recording a conversation"
After recording a conversation, the text above the play button said "Now let's play back and crop what was said in the recording.", even though the conversation couldn't be cropped.

MacBook Air / MacOS 10.15.6 / Chrome 84.0.4147.135
iPhone 7 / iOS 13.6.1 / Safari 13

![image](https://user-images.githubusercontent.com/68654587/91748503-121d1280-eb8e-11ea-8ed5-6e7f3f21d2fc.png)

[2020-08-31 17:42] ichimura-a opened #43 "Clips or Snippets?"
Are the recordings you extract from a conversation called "clips" or "snippets"? Is there a difference between them?

While on the scrapbook, recordings could be filtered by "Clip", but the button to create a clip/snippet is labeled as "Create Snippets". Then, while creating a clip/snippet, the transcription box was labeled as "Provide a transcription of this snippet:" while the button to submit i

[2020-08-31 18:04] jkhartshorne commented on #43
Good catch. These should be snippets everywhere. @lorenachipstudio

[2020-08-31 19:31] lorenachipstudio commented on #43
@jkhartshorne @ichimura-a I'll let the dev team know to make it snippets everywhere. I'll confirm when changes are in staging

[2020-08-31 19:33] lorenachipstudio commented on #42
@ichimura-a We'll take a look and provide an update as soon as possible! Thank you.

[2020-08-31 20:03] jkhartshorne opened #44 "Logging in with Google"
I feel like it used to be possible to log in with different google account. Maybe I just remember wrong. But now, it automatically logs me in with whatever google account I happen to be logged into in my browser at the moment. I don't want to have to log out globally in order to use a different account. Can this be changed?

(I mean, I can also use an incognito tab. But I don't want to assume peop

[2020-08-31 20:04] jkhartshorne commented on #44
Scratch that. Incognito doesn't seem to work. Probably a cookies problem.

[2020-08-31 20:19] jkhartshorne opened #45 "Filtering by "only clips with no label""
**What I expect:**
Everything that is unlabeled to appear when I select "only clips with no label"

**What happens:**
Only some of them appear.

Before:
![Screen Shot 2020-08-31 at 4 17 54 PM](https://user-images.githubusercontent.com/6118115/91764583-916a1080-eba5-11ea-8a8b-1f36d4c39a20.png)

After:

![Screen Shot 2020-08-31 at 4 18 00 PM](https://user-images.githubusercontent.com/6118115/9176459

[2020-08-31 22:09] lorenachipstudio commented on #45
@jkhartshorne We'll take a look with the team

[2020-09-01 00:22] alexchippendale commented on #45
@jkhartshorne Just to make sure: In the before picture, are you showing this because there are tiles with the "?" icon that don't appear in the bottom one? The "?" appears if there is no selected icon, not based on if there is a label aka a description or transcription.

Also, roughly how many tiles / recordings do you have? This could help us in debugging. Thanks!

[2020-09-01 01:48] koppen152 commented on #3
I just uploaded a 6-second video to the staging site and it did not appear in my scrapbook after I pressed “submit clip.” I did it a second time and it worked that time.
IPhone 7, safari 13.6.1

[2020-09-01 01:51] koppen152 commented on #42
I ran into the same issue as @ichimura-a just now. I won’t add a screenshot because it looks the same as the image he included in his post.

IPhone 7, Safari 13. 6.1

[2020-09-01 02:07] koppen152 opened #46 "Uploaded videos getting stuck in processing"
I uploaded 5 recordings from videos on my phone. The videos were between 3 and 12 seconds long. One of the 6-second recordings appeared in the scrapbook right away, as expected. The remaining four did not appear right away, and all appeared at once after about 3 minutes. I had been checking the scrapbook multiple times in those three minutes, so it is not the case that I just didn’t notice the rec

[2020-09-01 02:16] koppen152 opened #47 "Say What? Stays paused instead of advancing"
If I submit my guess before the clip is done playing, the clip continues playing while I get the animation telling me I got it right. When the clip is done playing, the pause icon remains instead of the play button. I can press the pause button and it will convert to the play button and I can then press the play button to go on to the next clip. I’m not sure if this is a bug per se since it only h

[2020-09-01 11:58] lorenachipstudio commented on #47
@koppen152 thanks for letting us know-- we'll take a look and provide an update asap.

[2020-09-01 11:58] lorenachipstudio commented on #46
@koppen152 We'll take a look and provide an update asap.

[2020-09-01 12:19] jkhartshorne commented on #45
OH, yah. I forgot that blank doesn't mean there isn't a description.

[2020-09-01 12:19] #45 closed

[2020-09-01 13:55] parkerrobbins opened #48 "File recorded in KidTalk 'has limited support' when I go to extract a snippet"
**Date**
2020-09-01

**Browser / OS / device**
Google Chrome Version 85.0.4183.83 (Official Build) (64-bit), Ubuntu 20.04.1 LTS, Dell Latitude E7450

**What did you do?**
1. Make a short recording (10.4 sec) by clicking the *Spontaneous* button under **Record Conversation**.
2. Selected a speaker, provided a description, added an icon, marked as private, and submitted the conversation.
3. Went to

[2020-09-01 13:57] parkerrobbins commented on #48
Can reproduce on the same machine / browser without doing any of the things in step 2 for a clip of similar length (except for submitting the conversation, obviously).

[2020-09-01 14:05] parkerrobbins commented on #48
Can reproduce this on my phone as well.

Chrome Version 85.0.4183.81 / Android 10 / Samsung Galaxy S9

![Screenshot_20200901-095950_Chrome](https://user-images.githubusercontent.com/31826170/91860842-2585b780-ec3a-11ea-8994-d1a9270939ff.jpg)

[2020-09-01 14:11] koppen152 commented on #48
Reproduced on my phone. IPhone 7, safari, iOS 13.6.1

[2020-09-01 14:41] parkerrobbins opened #49 "Short snippet is cut off after 'Extract clip'"
**Date**
2020-09-01

**Browser / OS / device**
Google Chrome Version 85.0.4183.83 (Official Build) (64-bit), Ubuntu 20.04.1 LTS, Dell Latitude E7450

**What did you do?**
1. Went to scrapbook and selected a conversation.
2. Clicked *Create snippet*.
3. Used the cropping bars to create a snippet.
4. Clicked *Extract clip*
5. Returned to scrapbook to listen to the snippet.

**What did you expect?**

[2020-09-01 14:52] parkerrobbins commented on #47
Reproduced: Google Chrome Version 85.0.4183.83 (Official Build) (64-bit), Ubuntu 20.04.1 LTS, Dell Latitude E7450

[2020-09-01 15:45] Abbyrosler commented on #48
*this happens to me too

<img width="1368" alt="Screen Shot 2020-09-01 at 11 43 55 AM" src="https://user-images.githubusercontent.com/69211699/91874672-7f8d7980-ec48-11ea-8f52-6b0137adb026.png">

Device: Macbook pro Version 10.13.6

OS: macOS High Sierra

Browser: Chrome 83

[2020-09-01 18:30] alexchippendale commented on #46
@koppen152 Hmm did you see a finished processing notification? A lot of processing now happens in the background, especially for video uploads. If several videos are uploaded in succession, it's possible it could take a a couple minutes before they're processed on the backend and appear in the scrapbook. Are they still grayed out still? Or have they resolved?

[2020-09-01 18:31] alexchippendale commented on #42
@ichimura-a @koppen152 Yes, this is old copy text, we will be removing it.

[2020-09-01 18:37] alexchippendale commented on #48
This is placeholder text, we will be removing it. It has to do with what browsers are capable of showing for waveforms, not an issue with the recording. In some cases the waveform won't be available, but we'll remove the text so that it's not confusing.

[2020-09-01 18:46] koppen152 commented on #46
They are still grayed out. Thanks!

On Tue, Sep 1, 2020 at 2:30 PM alexchippendale <notifications@github.com>
wrote:

Kathleen Oppenheimer, M.S., CCC-SLP
Graduate Student, Hearing and Speech Sciences
University of Maryland College Park
Learning to Talk Lab
Language and Cognition Lab
[code]

[2020-09-01 18:50] alexchippendale commented on #49
@parkerrobbins Thanks for the video, that makes it very clear! We are looking into this. At the moment we are working on making the cropping tool more fine grained which may fix this as well.

[2020-09-01 18:57] alexchippendale commented on #46
@koppen152 Thanks for the info! We're looking into this.

[2020-09-01 22:10] alexchippendale commented on #44
@jkhartshorne Unfortunately this is an issue with google's account authentication and login process. Google accounts can get finicky in this way. Here's one thread on a related problem: https://support.google.com/mail/thread/18368828?hl=en . I've experienced the same issue between my google accounts on YouTube and other google platforms.

You may be able to use this from google: https://accounts.g

[2020-09-01 22:14] #33 closed

[2020-09-02 01:51] alexchippendale commented on #32
This is now deployed to staging.

What happens now is that whenever you invite a user, it will automatically create a tagged adult of the same name. If the email address you invited is already a user, the tagged adult will default to the name and avatar the invited user has selected. If the invited user later changes or selects a name or avatar, the tagged adult's name and avatar will change in sy

[2020-09-02 02:22] alexchippendale commented on #47
@koppen152 @parkerrobbins This has been fixed and deployed to staging.

[2020-09-02 13:05] parkerrobbins commented on #47
Yep, fixed for me! Thanks for letting us know, @alexchippendale.

[2020-09-02 13:06] parkerrobbins commented on #49
@alexchippendale That would be wonderful! Thanks.

[2020-09-02 13:17] koppen152 commented on #47
@alexchippendale fixed for me too! Closing this issue. Thank you!

[2020-09-02 13:17] #47 closed

[2020-09-02 15:08] jkhartshorne commented on #44
Understood.

[2020-09-02 15:08] #44 closed

[2020-09-02 15:10] jkhartshorne commented on #46
@alexchippendale @lorenachipstudio
How are things looking? Doesn't look like the NYTimes article will be up today, but we're in two TV interviews later on today (one in the afternoon, one in the evening -- Eastern). So promoting to production soon would be nice, but probably this bug needs to be fixed first.

[2020-09-02 18:09] alexchippendale commented on #46
@jkhartshorne The build is looking good at this point, we've been doing some tests to get ready for the deploy to production that thus far have gone well. We are working on a fix for this one which seems to occur for video uploads uploaded in quick succession, at which point we should be pretty much there to push to production.

[2020-09-02 19:27] alexchippendale commented on #43
This has been updated on staging.

[2020-09-02 19:28] alexchippendale commented on #42
This has been updated on staging.

[2020-09-02 20:58] #48 closed

[2020-09-02 20:58] #43 closed

[2020-09-02 20:58] #42 closed

[2020-09-02 20:58] #32 closed

[2020-09-02 21:45] jkhartshorne commented on #46
If this is the only thing remaining, it might make sense to push what we
have to production. It at least works better than what we've got in
production now. And we have the two interviews today.

On Wed, Sep 2, 2020 at 2:10 PM alexchippendale <notifications@github.com>
wrote:

[2020-09-02 23:20] alexchippendale commented on #46
@jkhartshorne Understood, we actually just pushed a fix to staging for this. Going forward this shouldn't occur with new uploaded video recordings. Working with the team now to get everything on prod as soon as possible.

[2020-09-03 03:57] alexchippendale commented on #3
This should be fixed in production now.

[2020-09-03 03:57] alexchippendale commented on #46
This has also been deployed to production.

[2020-09-03 14:36] jkhartshorne opened #50 ""Submit" button on survey doesn't work"
MacBook Air, Chrome

**What I did**
Answer a question and click 'submit'

**What I expected to happen**
Submission!

**What did happen**
Nothing for about 30 seconds. As I was typing in this issue, it finally loaded a different question. Not sure what to make of that.

![Screen Shot 2020-09-03 at 10 34 43 AM](https://user-images.githubusercontent.com/6118115/92129257-46ccdc00-edd1-11ea-8c8c-7b7715

[2020-09-03 14:37] jkhartshorne commented on #50
Since then, it seems to be working, though it's still a bit sluggish? I think we should leave this open in case anyone else reports it, or it reoccurs for me.

[2020-09-03 14:43] jkhartshorne opened #51 "Snippets should default to same date as original"
Particularly since I can't see the date of the original while setting the date of the snippet!

[2020-09-03 14:47] jkhartshorne commented on #25
I forget -- did we ever have a solution for previously-recorded recordings that are stuck in processing? Or did we give up on those?

I've been only looking at staging for a long time, so didn't realize these were still stuck:

![Screen Shot 2020-09-03 at 10 44 34 AM](https://user-images.githubusercontent.com/6118115/92130480-c8713980-edd2-11ea-83d2-0c4d6e8f2f60.png)

[2020-09-03 14:49] ythuang123 commented on #25
@jkhartshorne -- thanks for following up with this. They are still stuck on my scrapbook too.

[2020-09-03 14:53] Abbyrosler commented on #51
Agreed! This can be confusing.

[2020-09-03 14:55] parkerrobbins commented on #25
Yes, me too!

![image](https://user-images.githubusercontent.com/31826170/92131412-fa36d000-edd3-11ea-832a-7240aa26487a.png)

[2020-09-03 15:09] parkerrobbins opened #52 "August appears twice in scrapbook"
**Date**
2020-09-03

**Browser // OS // Device**
- Google Chrome Version 85.0.4183.83 // Ubuntu 20.04.1 LTS // Dell Latitude E7450
-  Chrome 85.0.4183.81 // Android 10 // Samsung Galaxy S9

**What did you do?**
Navigated to my scrapbook.

**What did you expect?**
I expected to see my conversations and snippets organized by month.

**What did happen?**
I saw two August 2020 sections.

**Visual Evid

[2020-09-03 17:34] #46 closed

[2020-09-03 17:34] #3 closed

[2020-09-03 17:35] lorenachipstudio commented on #50
Hey @jkhartshorne we'll take a look and see if there's a problem/fix to this. Thanks!

[2020-09-03 17:37] lorenachipstudio commented on #51
@jkhartshorne will let the team know to see if we can make this change asap

[2020-09-03 17:38] lorenachipstudio commented on #52
@parkerrobbins we'll take a look and fix this- thank you!

[2020-09-03 17:39] alexchippendale commented on #25
@jkhartshorne @ythuang123 Not for some previously-recorded recordings. We pushed fixes for new recordings so they don't get stuck in the same way, but some older ones had errors with the audio file itself in the upload process. This had to do with relatively obscure Google Cloud platform upload errors which we've since found alternative methods for. Some were stuck for other reasons, which have be

[2020-09-03 17:45] alexchippendale commented on #50
@jkhartshorne This could happen because of the server temporarily responding a little slower, an internet connection going a bit slower temporarily, or your device getting getting used to the new HTML and CSS of the build. We'll keep an eye on it, thanks for the info.

[2020-09-03 17:46] alexchippendale commented on #51
@jkhartshorne @Abbyrosler This is a good idea, I can see how that would be confusing. We'll start working on it!

[2020-09-03 17:47] alexchippendale commented on #52
@parkerrobbins Did this happen after submitting a conversation / snippet, or when you got into the scrapbook upon opening the app? Or does this occur every time you're in the scrapbook?

[2020-09-03 17:51] parkerrobbins commented on #52
@alexchippendale Every time I enter the scrapbook (doesn't matter how). I only noticed the issue today, though, so I'm not sure how long it has been going on.

[2020-09-03 17:54] parkerrobbins commented on #25
@alexchippendale From before, just like those of @jkhartshorne and @ythuang123.

[2020-09-03 18:08] alexchippendale commented on #52
@parkerrobbins Thanks, that should help us debug it.

[2020-09-05 02:01] ythuang123 commented on #2
Hi folks -- I've been testing out Phase 2 on the production site. Overall, it's great. Love the fast processing, fun icons, beautiful layout. BUT... I just encountered this "stuck clip" error -- see below. It was a short clip (2-3 minutes). And I had made a much longer one right before that uploaded fine. I'm using my iPhone SE (version iOS 13.5.1) on Safari (latest?).

![2020-09-04_21-01-21_000](

[2020-09-05 15:19] jkhartshorne commented on #2
@lorenachipstudio It's ba-ack!

[2020-09-05 16:19] SecondStreetDevelopment commented on #2
Hi @ythuang123, I'm pretty sure this is happening for a different reason than previously.  I'm looking into it now.

[2020-09-07 06:11] SecondStreetDevelopment commented on #2
@ythuang123, I manually changed the database record for this recording.  Take a look at the recording when you get a chance and let me know if it's working now.

[2020-09-07 14:35] ythuang123 commented on #2
@SecondStreetDevelopment -- perfect, it works! The new clip is unstuck. Thanks!!

[2020-09-07 19:06] jkhartshorne opened #53 ""February" is misspelled"
When setting a kid's age, it's "Feburary".

@lorenachipstudio

[2020-09-07 19:09] jkhartshorne opened #54 "Can we prevent people from listing their kid as being born in the future?"
@lorenachipstudio

[2020-09-07 20:45] jkhartshorne opened #55 "Admin page seems to be broken"
This was working relatively recently.

**What I expect**
To see a list of users on the admin page

**What I actually see**
An empty table

![Screen Shot 2020-09-07 at 4 43 19 PM](https://user-images.githubusercontent.com/6118115/92415995-5e85c680-f129-11ea-9b42-f8dbc48288c7.png)

[2020-09-08 14:28] lorenachipstudio commented on #53
@jkhartshorne we'll get this fixed asap

[2020-09-08 14:29] lorenachipstudio commented on #54
@jkhartshorne I'll check with the team on this and let you know if we can make that change!

[2020-09-08 14:30] lorenachipstudio commented on #55
@jkhartshorne we'll take a look at this and provide an update asap.

[2020-09-08 18:25] SecondStreetDevelopment commented on #55
@jkhartshorne, apologies for the trouble, I'm looking into this now.  I'll let you know when I have it fixed.

[2020-09-08 19:16] allieheyl commented on #51
When I saved my snippet today it defaulted to July 26 2020 as the date it was recorded

[2020-09-08 20:31] SecondStreetDevelopment commented on #2
@ythuang123, no problem.  I was able to manually modify that database record but I haven't been able to isolate the root cause of this issue yet.  If it happens again please let me know.  The screen captures are very helpful.  Also, if you know the day and approximate time you experienced the issue that can help me find it faster.

[2020-09-08 23:10] jkhartshorne commented on #51
@lorenachipstudio

[2020-09-08 23:32] alexchippendale commented on #51
@allieheyl Was that the date of the conversation it was based off? Or did you upload a video just before then with that date? Or is this a random date? Any amount of information would be helpful.

[2020-09-08 23:49] alexchippendale commented on #54
@jkhartshorne This should be possible.

[2020-09-08 23:51] alexchippendale commented on #49
@parkerrobbins We are continuing to work on this.

[2020-09-09 16:24] allieheyl commented on #51
The video I uploaded during the bug check was from July 25th, but the snippet I made was based on a recording I had just made yesterday and I had deleted the uploaded recording prior to this.

[2020-09-09 17:50] alexchippendale commented on #51
Thanks for the info!

[2020-09-09 20:01] jkhartshorne commented on #25
@alexchippendale @lorenachipstudio -- would it be correct to say that any of the stuck recordings from before the new production deploy are a lost cause, and we should just delete them on our end?

[2020-09-09 20:22] SecondStreetDevelopment commented on #55
@jkhartshorne, we've identified a fix for this.  We will be deploying it to production very soon.  I will let you know when it goes live.

[2020-09-09 21:18] alexchippendale commented on #25
@jkhartshorne Yes I would say so, I would go ahead and delete the stuck recordings from before the new production deploy.

New recordings shouldn't run into the same upload issue. Though rare, if a newer recording gets stuck we should be able to unstick it (see recent comments in #2). This is because now if it one gets stuck, it's because it's "processed" flag needs to be updated, not an issue wit

[2020-09-10 01:52] ythuang123 commented on #2
@SecondStreetDevelopment -- hello! Same deal as before. The "stuck clip" error was on the production site (9/9, around 8:34pm on the photo) -- see below. It was another short clip (2-3 minutes). I'm using my iPhone SE (version iOS 13.5.1) on Safari (latest?).
![2020-09-09_20-34-38_000](https://user-images.githubusercontent.com/68764650/92672470-bf0e3280-f2e6-11ea-951b-47f296c37576.png)
![2020-09-0

[2020-09-10 20:43] alexchippendale commented on #54
We are currently building an update for this.

[2020-09-10 20:44] alexchippendale commented on #53
This will be brought into one of the next updates that includes #54.

[2020-09-10 20:49] alexchippendale commented on #52
@parkerrobbins Could you send over the dates of the first and last tiles in both August 2020 sections you're seeing, and any other details about those tiles if possible. We've had trouble recreating this issue locally and that information may allow us to replicate it. Thanks!

[2020-09-11 12:57] ythuang123 commented on #2
@SecondStreetDevelopment  -- These two are from yesterday night (9/10, timestamp on the photos). Same deal as before. The "stuck clip" error was on the production site -- see below. They were short clips (2-4 minutes). I'm using my iPhone SE (version iOS 13.7) on Safari (13). Any thoughts about what's going on? Thanks for your help!

![2020-09-10_20-57-16_000](https://user-images.githubusercontent

[2020-09-11 15:07] SecondStreetDevelopment commented on #2
@ythuang123, I just manually fixed those recordings. I think I have identified the source of the issue with these recordings. I'm working on a fix

[2020-09-11 15:11] SecondStreetDevelopment commented on #55
We should have this deployed to production today. We will update when the deploy is complete.

[2020-09-11 15:34] ythuang123 commented on #2
@SecondStreetDevelopment -- got it, thanks! They are all unstuck (woo-hoo!). I'll post again if it happens again. LMK if you need recordings of particular types (e.g., length, platform, browser) to test out hypotheses. I can supply.

[2020-09-11 23:22] SecondStreetDevelopment commented on #55
This admin page fix has been deployed to production, you should be able to see users in the table now.

[2020-09-11 23:29] alexchippendale commented on #54
@jkhartshorne This has been deployed to staging for verification.

[2020-09-11 23:30] alexchippendale commented on #53
@jkhartshorne This has been deployed to staging along with other fixes.

[2020-09-11 23:33] alexchippendale commented on #51
@jkhartshorne This has been deployed to staging for verification.

[2020-09-14 15:27] ythuang123 commented on #2
@SecondStreetDevelopment -- two more stuck recordings from yesterday (time stamp on photos). I haven't been able to make an unstuck recording since 9/4. Do you have a sense of the cause or scope of this problem?

![2020-09-13_20-37-56_000](https://user-images.githubusercontent.com/68764650/93105556-3ba16800-f67d-11ea-9198-384c690b4576.png)
![2020-09-13_20-38-14_000](https://user-images.githubuserc

[2020-09-14 20:06] jkhartshorne commented on #2
@lorenachipstudio  Any progress?

[2020-09-14 20:32] lorenachipstudio commented on #2
@jkhartshorne We're working on a temporary patch while we figure this out. We'll update you on here as soon as this is ready.

[2020-09-14 20:37] jkhartshorne commented on #55
@SecondStreetDevelopment

Staging now works for me, but I don't see any difference in production.

[2020-09-14 20:53] lorenachipstudio commented on #2
@jkhartshorne We just deployed a patch that should stop the recordings from appearing stuck and will also "unstick" the recordings from the last few days. We're working on fixing the root cause right now.

[2020-09-14 21:07] SecondStreetDevelopment commented on #2
We have identified the root cause and deployed a fix to production just now.

[2020-09-14 21:16] SecondStreetDevelopment commented on #2
I'm guessing recordings made over the weekend will be grayed out due to this issue.  I'm looking for a way to bulk process those recordings and make them available now.

[2020-09-14 21:20] SecondStreetDevelopment commented on #55
You're correct, I think the emergency patch Alex just deployed removed this fix.  I'll request Alex do a redeploy to production with this fix and the patch included.

[2020-09-14 21:46] jkhartshorne commented on #2
Thanks!

[2020-09-14 23:18] alexchippendale commented on #55
Production has now been re updated with this fix.

[2020-09-15 00:52] ythuang123 commented on #2
@SecondStreetDevelopment -- it worked! The two recordings from the weekend are unstuck. I made two more and they posted just fine. Thanks for tackling this so quickly.

[2020-09-15 02:23] jkhartshorne commented on #2
Mine are unstuck as well!

[2020-09-15 02:23] #2 closed

[2020-09-20 22:15] jkhartshorne commented on #51
@alexchippendale looks like it works. Please push to production.

[2020-09-20 22:17] jkhartshorne commented on #55
A month or so ago we had maybe a dozen users with "eligible" clips. Now, only 2. Do you know what happened?

[2020-09-20 22:18] jkhartshorne commented on #54
The error message could be a little more informative:

`Please re-enter child's Birth Year and Month`

[2020-09-20 22:18] jkhartshorne commented on #52
@parkerrobbins -- can you please follow up on this?

[2020-09-20 22:19] #50 closed

[2020-09-20 22:19] jkhartshorne commented on #49
@alexchippendale -- any updates?

[2020-09-20 22:34] SecondStreetDevelopment commented on #55
I'm not sure what could've happened, perhaps just an error in how we're filtering eligibility?  I can run a manual query using the eligibility criteria and take a look at what's returned.  That may shed some light.

[2020-09-21 02:33] jkhartshorne commented on #55
Are you only including snippets now? Because I think all old recordings
were automatically turned into conversations, regardless of length. If you
are excluding conversations, that might be why all older recordings are
excluded.

On Sun, Sep 20, 2020 at 6:34 PM Mitchell <notifications@github.com> wrote:

[2020-09-21 13:20] parkerrobbins commented on #52
@alexchippendale @jkhartshorne

Apologies that I missed this. The issue is now resolved in my scrapbook.

[2020-09-21 13:20] #52 closed

[2020-09-21 22:05] jkhartshorne opened #56 "Sound is tinny and cuts in and out"
**What I do:**

Record in-app

**What I expect**

To have reasonable quality sound, and for it to not cut in and out.

**What happens**

It's hard to hear anything. It's alternately tinny and muffled. And it cuts in and out.

**Machine**

Samsung Galaxy S20, in Chrome

**Notes**

This was a problem we had early on and it was solved. I don't know when the problem came back, because I haven't done m

[2020-09-21 22:07] jkhartshorne commented on #56
PS I just recently recorded a very long recording (946.7 seconds), so should be easy to find and see for yourself.

[2020-09-21 22:08] lorenachipstudio commented on #56
@jkhartshorne We're taking a look at this now! Thank you for reporting it!

[2020-09-21 22:09] jkhartshorne opened #57 "Problems playing back long clip"
The usual format doesn't work here. I don't know if this is an issue with long clips or not, but I just made a long one. When I do playback from the scrapbook, it'll just cut out at some point and stop playing. When I try to make a snippet, it will at some point stop producing sound. The time bar continues to move, though, as if it was playing.

**Device**: Samsung Galaxy S20+ 5G, Chrome

**Notes*

[2020-09-21 22:18] SecondStreetDevelopment commented on #55
Yes, I think that may be it. I'm testing a fix for this right now.

[2020-09-21 22:20] lorenachipstudio commented on #57
@jkhartshorne Thank you- we'll take a look

[2020-09-21 22:31] alexchippendale commented on #49
@jkhartshorne We have been able to recreate this issue on our local systems, but are still working on the build for the fix. Thus far we have found some partial fixes, but they have had limited browser support, or would cause a separate issue that would need to be fixed. I reviewed this issue with the team today and will let you know when we have something on staging to test for it.

[2020-09-21 22:37] jkhartshorne commented on #49
Do you have a sense of what range of things are affected right now?

[2020-09-21 22:53] alexchippendale commented on #49
@jkhartshorne This issue should not affect parts of the app outside of the difference that occurs between where the end of the cropper appears when making the snippet and what gets played back which sometimes ends around a half second too early.

[2020-09-21 23:11] alexchippendale commented on #57
@jkhartshorne Does the clip still cut off in playback from the scrapbook now, or does it now play beyond the point it had stopped playing before?

[2020-09-21 23:22] jkhartshorne commented on #57
Hard to say, because it's not consistent. Also, I can only see time markers
in "make a snippet". In "make a snippet" I just forwarded to about 160. A
couple times in the past -- but not always! -- it refused to play when
starting at that point. Same thing just now.

[2020-09-21 23:24] jkhartshorne commented on #57
Just now, I tried playing from the beginning in "make a snippet". It quit at about 120. I've definitely gotten it to play past there at least once in the past.

If you need me to try playing from the beginning in the scrapbook (not in "make a snippet"), let me know. But again, it'll be hard for me to tell whether it's playing longer than before.

[2020-09-22 01:33] alexchippendale commented on #57
Okay thanks for the info. Should be good for now for us to try and figure out what caused it for this recording based on that, I'll let you know if we need any more info.

[2020-09-22 13:50] jkhartshorne commented on #57
Please get this fixed as soon as possible. We were in the midst of a lot of advertising, and now I've had to put it on hold -- again -- because I don't want to shop around a broken app.

[2020-09-22 13:50] jkhartshorne commented on #56
Please get this fixed as soon as possible. We were in the midst of a lot of advertising, and now I've had to put it on hold -- again -- because I don't want to shop around a broken app.

[2020-09-23 00:03] SecondStreetDevelopment commented on #55
Fix confirmed.  I've committed this fix to our Github repository.  I'm publishing to the staging site now.  This fix should be published to the production site later this week.

[2020-09-23 17:59] SecondStreetDevelopment commented on #56
As we discussed on Monday, this really could only be occurring in one of two areas, either the recording step or the encoding step.  I know others are looking into this but I'm going to take a quick look at the waveform and encoding of the 946.7 second file and see if that sheds any light on where the issue is occurring.  I'll also create a new 15 min test (benchmark) clip.  The existing white noi

[2020-09-23 19:23] alexchippendale commented on #57
@jkhartshorne We are looking into the recording in question, and looking through error logs while we try to recreate this issue. We have a couple follow up questions:

1) Is this occurring for all your in app recordings, or was this the only one you tested?
2) We have been able to record on our testing devices in app without seeing this issue. Is this something that your team is also seeing on the

[2020-09-23 23:24] alexchippendale commented on #54
This should be deployed to production this week with an updated error message.

[2020-09-23 23:25] alexchippendale commented on #53
This should be deployed to production this week.

[2020-09-23 23:25] alexchippendale commented on #51
This should be deployed to production this week.

[2020-09-24 05:33] SecondStreetDevelopment commented on #56
Here are the details for the recording in question.  It is a mono channel file with bit rate of 64 kb/s and sample rate of 44,100 Hz which is exactly what we would expect based on the settings in the encoding cloud function.  I created a 15 minute test audio file and ran it through the production site.  The output mp3 file properties were exactly as we would expect as well.  I did not detect any a

[2020-09-24 05:39] SecondStreetDevelopment commented on #56
Here is the waveform for the recording in question.  Besides some extended silent portions later in the file, I don't see any obvious issues:

![image](https://user-images.githubusercontent.com/49379014/94105189-99f0e800-fded-11ea-82cc-c0cad83113d8.png)

[2020-09-24 12:29] jkhartshorne commented on #56
If it's playback, that's interesting. Because KidTalk doesn't have any
problem playing back audio that was recorded outside of the app and then
uploaded. That sounds great. Keeping in mind that this is recorded and
played on the same device. I also don't have any problem with recording and
playing back using other apps on the same device. Also, the playback issue
isn't device-specific: I have the

[2020-09-24 14:49] parkerrobbins opened #58 "Messages page not displaying"
@jkhartshorne @lorenachipstudio

**Date**
2020-09-24

**Browser / OS / device (including version numbers)**
Google Chrome Version 85.0.4183.121 (Official Build) (64-bit), Ubuntu 20.04.4 LTS, Dell Latitude E7450

**What did you do?**
Went to the menu in the sidebar and clicked on *Message from the scientists*.

**What did you expect to happen?**
I expected to see *Review the updates from the scient

[2020-09-24 15:05] ichimura-a commented on #58
Also happened to me

iPhone 7 / Safari 13 / iOS 13.7

![image](https://user-images.githubusercontent.com/68654587/94163440-db1ce280-fe55-11ea-8b89-1820f1091d6b.png)

[2020-09-24 16:17] SecondStreetDevelopment commented on #56
@jkhartshorne, thank you for that info.  Can you download your recording and take a quick listen for me?  Do you hear the "tinny" sound issue when playing this MP3 directly?

Download link:
https://www.dropbox.com/s/k68sb25z4ywbrxa/1600724705291_947.10_ignore_ignore_output.mp3?dl=0

[2020-09-24 18:10] alexchippendale commented on #58
@parkerrobbins Can you try closing your developer console, navigating using the sidebar to another page like recording or scrapbook, and use the menu again to navigate back to the messages page?

@ichimura-a Can you do the same (don't worry about the dev console stuff), navigate to another page via the menu and navigate back?

Let me know if you guys are able to see the messages then, sometimes th

[2020-09-24 18:28] ichimura-a commented on #58
@alexchippendale The page displays properly now when I reload it. I also navigated to another page and navigated back, and the page displayed properly as well.

[2020-09-24 18:53] parkerrobbins commented on #58
@alexchippendale Hmm, it's working now for me, too. I guess we can close this.

(By the way, I only opened the developer tools in case it was helpful for you. It wasn't displaying with or without them open.)

[2020-09-24 18:53] #58 closed

[2020-09-24 19:02] alexchippendale commented on #58
@parkerrobbins I see. Thank you, the dev console is often very helpful for us to see like that when debugging! I wasn't sure if you had it opened the whole time or if you just opened it to show the logs.

[2020-09-24 19:06] parkerrobbins commented on #58
@alexchippendale Yeah, just to show the logs. I'm somewhat of a programmer, so I generally have a vague idea of what might be helpful. Glad it actually is! :slightly_smiling_face:

[2020-09-24 22:06] alexchippendale commented on #56
@jkhartshorne We've taken a look at the actual saved recording and observed that the recording itself is silent in some regions and plays correctly in others. After looking at the database records, the actual saved audio file, and many tests within the app, this doesn't appear to be a direct problem with playback, processing, or otherwise a software bug in the KidTalk code.

While it is hard to kn

[2020-09-24 22:08] alexchippendale commented on #57
See #56

@jkhartshorne We've taken a look at the actual saved recording and observed that the recording itself is silent in some regions and plays correctly in others. After looking at the database records, the actual saved audio file, and many tests within the app, this doesn't appear to be a direct problem with playback, processing, or otherwise a software bug in the KidTalk code.

While it is h

[2020-09-25 14:33] jkhartshorne commented on #56
I just made two recordings in production. "Tinny 1" was made in app. "Tinny
2" was uploaded. The differences aren't as extreme as in the previous
multi-person recording, but I think it's pretty clear.

I agree that the long silences are probably from the phone going to sleep.
I guess the downloadable app will fix that. Though the cutting in and out i
mentioned was actually during recording. Someti

[2020-09-28 00:59] jkhartshorne opened #59 "Filters don't apply after you click 'more'"
To reproduce:

* Filter a scrapbook to only conversations
* Click 'more' to see more items
* new items will include all three types of recordings

[assuming that your scrapbook has all three types!]

[2020-09-28 01:05] jkhartshorne commented on #59
Hmmm. This time, it worked for me. Not sure what the difference is.

[2020-09-28 01:09] jkhartshorne commented on #59
Seems to be variable. Sometimes, it'll filter most but not all. Probably some weird react thing (or sagas, if you use those).

[2020-09-28 01:13] jkhartshorne opened #60 "After making snippet, can we return to the same clip?"
I've been trying to make multiple snippets from the same clip. When I make a snippet, it returns me to the scrapbook. It seems like it would be more obvious to return to that clip.

I think we had a similar issue with commenting, which was fixed. So probably the same fix?

[2020-09-28 01:17] jkhartshorne commented on #56
BTW Just to repeat: we did have the same problem with tinniness early in development. You fixed it then. I wonder if that fix just got accidentally reverted along the way.

[2020-09-28 13:33] lorenachipstudio commented on #59
@jkhartshorne I've let Alex and the team know! We'll take a look at this today and provide updates as soon as possible.

[2020-09-28 13:33] lorenachipstudio commented on #60
@jkhartshorne I'll ask the team about this today and get back to you!

[2020-09-28 17:03] alexchippendale commented on #53
This has been deployed to production.

[2020-09-28 17:17] alexchippendale commented on #54
This has been deployed to production when adding a new child with the updated error message. We are also working on activating it when editing an existing one.

[2020-09-28 17:19] alexchippendale commented on #55
This has been deployed to production!

[2020-09-28 17:20] alexchippendale commented on #51
This has been deployed to production!

[2020-09-28 17:30] #25 closed

[2020-09-28 17:30] #51 closed

[2020-09-28 17:30] #55 closed

[2020-09-28 21:53] SecondStreetDevelopment commented on #56
Here is a link to the MP3 for "Tinny 1":
https://www.dropbox.com/s/molvab8p93ip7qv/tinny%201.mp3?dl=0

Here is "Tinny 2":
https://www.dropbox.com/s/lz9d5ku9by6a46i/tinny%202.mp3?dl=0

[2020-09-29 15:30] jkhartshorne commented on #56
@SecondStreetDevelopment - did you want me to reply to that, or was that just for your records? I hope you can hear the difference, right?

[2020-09-29 17:59] SecondStreetDevelopment commented on #56
@jkhartshorne, I can hear a slight difference in the two files but they both are pretty clear when played on my laptop.  Do they sound tinny on your end?

[2020-09-29 20:39] jkhartshorne commented on #56
The first one is quite muffled and tinny. That's on multiple devices.

On Tue, Sep 29, 2020 at 1:59 PM Mitchell <notifications@github.com> wrote:

[2020-09-29 23:03] jkhartshorne commented on #56
@SecondStreetDevelopment - have you confirmed that the original fix hasn't been reverted?

[2020-09-30 14:45] SecondStreetDevelopment commented on #56
Yes, we discussed this on Monday.  This was before my time but David tells me that issue was caused by a polyfill in index.html which was commented out.  See image, it has been uncommented ever since that original issue:
![image](https://user-images.githubusercontent.com/49379014/94700842-cc6c7a80-02f0-11eb-8063-4860f6ce1667.png)

[2020-09-30 14:59] SecondStreetDevelopment commented on #56
I'm admittedly at a loss on this issue.  Both audio files sound roughly how I would expect them to from a consumer level or smartphone microphone.  However, I'm certainly not an audiophile...so not the person you'd want to seek out to evaluate audio.  The only knob I know of that we could turn to change audio quality would be the MP3 bitrate but I don't believe it has been changed, that's somethin

[2020-09-30 17:57] jkhartshorne commented on #56
I'm not sure why you can't hear the difference. Have you tried a different
device? I had several people listen to the MP3s you posted, and they didn't
have trouble hearing the difference.

The difference is much more pronounced when multiple people are talking. I
have posted two new recordings (two of my three most recent) to production.
"good night" was recorded in-app, whereas "good night 2" was

[2020-10-01 00:04] jkhartshorne commented on #56
@SecondStreetDevelopment - I wanted to make sure you got this.

[2020-10-01 07:06] SecondStreetDevelopment commented on #56
I do notice a difference between these two recordings.  It sounds like in "good night" the MP3 may be exhibiting signs of over compression.  I'm not sure if this would be happening during the MP3 conversion step or not.  I'll get with David and see if it's possible to increase the bitrate used during that step.  I'm not certain it is the source of this difference in audio quality but perhaps we co

[2020-10-01 12:59] jkhartshorne commented on #56
The effect is much larger when you have multiple people talking, so maybe
try that on your end to see if you can reproduce?

On Thu, Oct 1, 2020 at 3:06 AM Mitchell <notifications@github.com> wrote:

[2020-10-01 14:04] parkerrobbins commented on #49
@alexchippendale Just wondering if there is any update on this. I'm still having the same issues with cropping and snippet playback.

[2020-10-01 14:06] parkerrobbins commented on #59
@jkhartshorne @lorenachipstudio For me, all three types simply flash up for a split second before filtering again by conversation.

[2020-10-01 16:24] SecondStreetDevelopment commented on #56
I'll give that a try.

[2020-10-01 19:03] ichimura-a opened #61 "Uploading is stuck at 100%"
iPhone 7 / Safari 13 / iOS 13.7

While trying to both use the "Spontaneous" and "Upload" options, after pressing on "Submit Conversation", the % would rise from 0% and 100%, but stay stuck at 100%, and the recording would not upload. When I cleared the conversation and recorded again, the "Submit Conversation" button was still stuck at 100%.

I tried refreshing the page and rerecording, but the is

[2020-10-01 19:21] lorenachipstudio commented on #61
@ichimura-a Thanks for reporting- we'll take a look and get back to you with updates/fixes!

[2020-10-01 20:45] jkhartshorne commented on #56
Kathleen reports: I did not replicate this issue on my iPhone 7S, iOS 13.

[2020-10-01 21:45] SecondStreetDevelopment commented on #56
Noted.  I suppose it could have something to do with the unique audio compression that is being done on some smartphones and how it interacts with the audio compression we're using on Kidtalk.  I'll look into that.

[2020-10-02 04:41] SecondStreetDevelopment commented on #56
@jkhartshorne, I have increased the MP3 bitrate by a factor of four on the staging site.  Can you do another set of tests on the staging site and let me know if you notice any improvement?

[2020-10-02 13:07] jkhartshorne commented on #56
I'm not sure. It might be better, but still not as good as native
recording. Is it possible to turn it up more, or is it already ridiculously
high?
Josh

On Fri, Oct 2, 2020 at 12:42 AM Mitchell <notifications@github.com> wrote:

[2020-10-02 15:32] SecondStreetDevelopment commented on #61
@ichimura-a , how long was this recording?

[2020-10-02 15:34] SecondStreetDevelopment commented on #56
I just increased it to the maximum.  Let me know if you notice any improvement.

Increasing the bitrate also increases the file size quite a bit.  I'm wondering if this new issue could be caused by me increasing the bitrate: https://github.com/jkhartshorne/KidTalkIssues/issues/61

I'm not sure it will be possible to get it as good as native recording.  Many of the premier smartphones (like the Sam

[2020-10-02 15:35] ichimura-a commented on #61
@SecondStreetDevelopment The recording was 17 seconds long.

[2020-10-02 17:24] jkhartshorne commented on #56
I don't know. I tried it and I'm not sure it sounds a lot better. But I also made a recording with production this morning under similar conditions and today it was actually decent for whatever reason. Maybe we should just focus on getting to the downloadable app, where you'll be using the native microphone capabilities, right?

[2020-10-02 18:15] jkhartshorne commented on #57
Closing in favor of https://github.com/jkhartshorne/KidTalkIssues/issues/56

[2020-10-05 05:37] SecondStreetDevelopment commented on #56
We will have much more control in the mobile app.  I can't speak to specifics as David and Alex have made the call on what platform is being used for the mobile app(s).  But generally speaking, the mobile app will allow for greater microphone control.

[2020-10-12 19:02] SecondStreetDevelopment commented on #56
I thought I might try a variable bitrate setting for the audio conversion.  Theoretically, this should be the best of all worlds.  I just deployed this change to the staging site.  Feel free to run a test and let me know if you notice any difference.

[2020-11-19 15:48] parkerrobbins commented on #49
@alexchippendale @jkhartshorne FYI I'm still having this problem. Same device/OS Version as above, but now Chrome Version 86.0.4240.198.

[2020-12-16 18:55] jkhartshorne opened #62 "Exporting from staging AND live"
I finally figured out why all the export emails were being sent twice. I was getting them from both staging and live sites. They aren't marked to say which is which. I don't know if that's possible.

Either way, could I please get a full database dump at some point? I suspect that some of the files I've been importing are staging and some are live, and there's no way of going back. Thanks!
@lorena

[2020-12-16 18:55] jkhartshorne commented on #62
Alternatively, if I had access to the databases, I could export this myself.

[2021-01-18 13:40] jkhartshorne opened #63 "Double exports?"
I'm still getting two emails with database exports, which contain different information. Maybe one is for staging? But it's hard to tell which is which. I only get one sound export, but I think it's only for staging??

At this point, I think I have my local copy completely confused. Can I please get a *complete* export of the databases and the audio so that we're up to date with current status? Th

[2021-01-20 01:47] koppen152 opened #64 "Blank screen when I try to make a recording"
Downloadable app, iPhone 8, iOS 14.3

When I press the round red button labeled “spontaneous” to record, I get a blank screen. I was expecting to see the waveform, the “stop” button, and the message, “Great! Now say anything, and press stop when you are done.” I attached a screenshot.
![2F7A9CDF-6305-477E-AE6A-1A51B9711295](https://user-images.githubusercontent.com/54418192/105115796-7a19ba00-5a97

[2021-01-20 01:50] koppen152 opened #65 "Can’t scroll down to submit survey question"
Downloadable app, iPhone 8, iOS 14.3

When I answered “yes” to the change in income question, I got the expected menu where I could choose by how much (more than a quarter, more than half, etc). However, once this scroll bar appeared, it covered the “submit” button and I couldn’t scroll down to submit my answer to the question.
![09BF9308-E573-4276-BFDF-5DB43FA90681](https://user-images.githubuser

[2021-01-26 02:47] koppen152 opened #66 "Can't open the app (production or staging)"
I tried to introduce a group of 7 students to the staging version of the app, as they'll be helping us with bug checking. All of them reported that https://staging.kidtalk.app took them to the "report an issue" page. When they clicked on the menu icon (the three bars in the top left), it took them to a series of very large icons that they could not click. Several of them replicated this on their l

[2021-01-27 15:43] koppen152 opened #67 "Can't open staging website"
staging.kidtalk.app does not load in safari or chrome on my MacBook, iPad, or iPhone. 7 of my undergrads are reporting the same problem on all their devices.

I can access the production version (kidtalk.app) on all my devices without a problem.

[2021-01-28 16:56] koppen152 commented on #67
Staging site is working.

[2021-01-28 16:56] #67 closed

[2021-01-28 17:02] koppen152 opened #68 "Downloadable app is down"
When I open the downloadable app on my iPhone 8 (iOS 14.3), I’m having the same problem that was recently fixed in staging and production for the browser-based app. When I open the app, I get the “report an error” page, and clicking the menu icon brings me very large images that I can’t click.

![83BEBB3E-F598-49B2-81C4-DB06C94C2C6D](https://user-images.githubusercontent.com/54418192/106172865-49a

[2021-02-01 23:22] jkhartshorne opened #69 "Snippet stuck in processing"
The first time I've run into this, so I don't know how common it is.

![Screen Shot 2021-02-01 at 6 20 50 PM](https://user-images.githubusercontent.com/6118115/106530466-5fddd400-64ba-11eb-86c2-a705390acd95.png)

[2021-02-01 23:22] jkhartshorne commented on #69
@lorenachipstudio

[2021-02-02 01:01] alexchippendale commented on #63
@jkhartshorne by complete export you mean all time production db export correct?

Also it sounds like a label distinguishing staging vs production exports is necessary and would also fix #62 ? Can you confirm this? Thanks!

[2021-02-02 01:02] alexchippendale commented on #68
@koppen152 Can you check this again? This should be fixed now, can you confirm? Thanks!

[2021-02-02 01:03] alexchippendale commented on #69
@jkhartshorne Thanks for the details, what is the date entry and text (if any) for the unprocessed recording?

[2021-02-02 01:05] alexchippendale commented on #65
Thanks for bringing this to our attention!

[2021-02-02 01:05] alexchippendale commented on #64
Thanks for bringing this to our attention!

[2021-02-02 17:48] koppen152 commented on #68
Now I get a blank page when I open the downloadable app. I tried deleting and reinstalling, and I still get a blank page with no icons or images.

[2021-02-02 17:50] alexchippendale commented on #68
@koppen152 Hmmm, taking a look.

[2021-02-03 20:55] alexchippendale commented on #68
We deployed a fix for this, the downloadable beta app should be back up now, you may have to exit the app first.

[2021-02-05 19:59] jkhartshorne commented on #69
Jan 18. "My favorite thing is no"

[2021-02-05 20:03] koppen152 commented on #68
Works now! I'll open some new issues for the bugs I found.

[2021-02-05 20:03] #68 closed

[2021-02-05 20:07] koppen152 opened #70 "Can't submit answer in say what"
downloadable app
iPhone 8, iOS 14.3

After playing a recording in Say What?, I typed my best guess at the transcription but nothing happened when I pressed submit. I was expecting to see either the clapping animation or the head shake animation and then to advance to a new recording. I was able to replay and pause the recording, but I could not advance to the next recording.

[2021-02-05 21:02] jkhartshorne commented on #63
Yes, this is the same as #62. I didn't realize that was still open. A label distinguishing them would definitely work.

But yes, an all time production db export would be super useful. Because at this point, I'm not sure what I have is all and only the production db.

[2021-02-09 21:31] alexchippendale commented on #63
Okay that makes sense

[2021-02-09 21:32] alexchippendale commented on #69
Thank you, we'll take a look at it!

[2021-02-09 21:34] alexchippendale commented on #68
Okay great, thanks!

[2021-02-09 21:36] alexchippendale commented on #70
I just saw this on my phone as well, thanks for the detail.

[2021-02-18 01:42] jkhartshorne commented on #69
Looks like it's still stuck.

On Tue, Feb 9, 2021 at 4:32 PM alexchippendale <notifications@github.com>
wrote:

[2021-02-18 03:48] alexchippendale commented on #69
@jkhartshorne Check again when you get a chance, should be fixed now, might want to clear cache.

[2021-02-18 04:36] jkhartshorne commented on #69
Fixed!

On Wed, Feb 17, 2021 at 10:48 PM alexchippendale <notifications@github.com>
wrote:

[2021-03-28 14:05] jkhartshorne opened #71 "Bug fix: Two different version of question 13, 14, and 12 are being used"
Some months ago, we changed the question texts to say "similar days before the crisis" everywhere it previously said "one year ago". However, both versions of the question are being presented.

@lorenachipstudio

[2021-06-10 23:07] jkhartshorne opened #72 "Google login doesn't work"
Samsung Galaxy S20

**What I did**
Clicked the google login

**What I expected**
Logging in

**What happened**
`Alert: Caught error!: {"message":"Something went wrong"}`

[2021-06-10 23:17] jkhartshorne opened #73 "Can't tag people"
Samsung S20+, using app

I uploaded audio from a video on my phone. I did not see the option to tag users during the original upload.

I went to the record in my scrapbook. I can tag users there ... except I can't tag myself!

This audio was from 5/14/2021.

[2021-06-11 19:35] SecondStreetDevelopment commented on #72
I am looking into this right now.  I am able to reproduce the issue on kidtalk Android app but not on web.  Let me know if your experience is different.

[2021-06-12 19:49] jkhartshorne commented on #72
I experienced the issue on the app. I haven't tried the web.

On June 11, 2021, Sebastian Waz ***@***.***> wrote:

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://github.com/jkhartshorne/KidTalkIssues/issues/72#issuecomment-
859797473>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/ABOVVY4WPGS44EKK3M6HDZDTSJQQVANCNFS

[2021-06-16 14:41] SecondStreetDevelopment commented on #72
Noted.  This appears to be due to some change on Google's side not anything we've changed in the codebase.  I'm continuing to work on a fix.

[2021-06-18 00:32] jkhartshorne commented on #72
@SecondStreetDevelopment just want to make sure you all are seeing the other issues. I believe there are currently 17. I can't assign to anyone except Lorena, and I don't know if she's at Chip Studio currently.

[2021-06-18 00:33] jkhartshorne opened #74 ""report an issue" page shows up unexpectedly"
This is a report from an alpha user:

"Sometimes clicking a button will bring me to the "report an issue page" or the home page "

They were using a moto Z3.

[2021-06-25 00:32] jkhartshorne commented on #72
Any progress?

[2021-06-25 00:34] jkhartshorne opened #75 "Sound quality extremely poor"
Using: Samsung S20+

I recorded using the "spontaneous" button in the app on two separate occasions. The sound is scratchy and tiny and it can be difficult to make out what people are saying. Quality is much better when recording using the native camera app.

[2021-07-06 00:41] SecondStreetDevelopment commented on #72
Hi @jkhartshorne,
My apologies this took so long. I believe I finally have it figured out. I've just published version 1.0.15 to the Google Play Store.  It should pass through Google's review process and go live within the next 24 hours. I'll do a final check when it goes live and confirm it is working and let you know.

-Mitchell

[2021-07-08 15:35] SecondStreetDevelopment commented on #72
Version 1.0.15 of the Android app has been approved by Google and is live.  I have confirmed Google login is working.

[2021-10-10 12:17] jkhartshorne commented on #75
@SecondStreetDevelopment @alexchippendale what is the status on this?